In [10]:
import re
pattern='\w'
test_string='Savethe2or4kittens'
matches=re.findall(pattern,test_string)
print(matches)

['S', 'a', 'v', 'e', 't', 'h', 'e', '2', 'o', 'r', '4', 'k', 'i', 't', 't', 'e', 'n', 's']

In [4]:
print(re.findall(r'\w','123Deepu456'))

['1', '2', '3', 'D', 'e', 'e', 'p', 'u', '4', '5', '6']

In [48]:
print(re.search(r'a?b','adb'))

<re.Match object; span=(2, 3), match='b'>

In [5]:
print(re.search(r'ma*n','mn'))

<re.Match object; span=(0, 2), match='mn'>

In [28]:
print(re.search(r'ma*n','main'))

None

In [29]:
print(re.findall(r'a?b','bomb'))

['b', 'b']

In [39]:
import re
print(re.findall(r'\d{4}','01 0132 231875 1458 301 2725.'))

['2', '8', '8', '5']

In [3]:
import re
pattern='\d{4}?'
text='01 0132 231875 1458 301 2725.'
matches=re.findall(pattern,text)
print(matches)

['0132', '2318', '1458', '2725']

In [7]:
import re
print(re.search(r'a.*?b$','aadvcdb'))

<re.Match object; span=(0, 7), match='aadvcdb'>

In [8]:
print(re.findall(r'ball\b','football'))

['ball']

In [31]:
import re
pattern='ab*'
test_string='abb'
result=re.match(pattern,test_string)
print(result)

<re.Match object; span=(0, 3), match='abb'>

In [32]:
print(re.search(r'ab*','abb'))

<re.Match object; span=(0, 3), match='abb'>

In [33]:
 print(re.search(r'ab+','abbot'))

<re.Match object; span=(0, 3), match='abb'>

In [17]:
 print(re.search(r'ab?','about'))

<re.Match object; span=(0, 2), match='ab'>

In [7]:
print(re.search(r'ab{3}?','abbbcd'))

<re.Match object; span=(0, 4), match='abbb'>

In [8]:
print(re.search(r'ab{2,3}','abbreivation'))

<re.Match object; span=(0, 3), match='abb'>

In [24]:
print(re.findall(r'\bfoot','football'))

['foot']

In [18]:
import re
pattern='game\Z'
test_string='football is my favorite game'
result=(re.match(pattern,test_string))
if result:
    print('search sucessfull')
else:
    print('search unsucessfull')

search unsucessfull

In [4]:
import re
pattern='\d{4}?'
text='01 0132 231875 1458 301 2725.'
matches=re.findall(pattern,text)
print(matches)

['0132', '2318', '1458', '2725']

In [11]:
print(re.findall(r'\w','12abc45'))

['1', '2', 'a', 'b', 'c', '4', '5']

In [29]:
import re
pattern='\d{4}?'
text='01 0132 231875 1458 301 2725.'
result=re.findall(pattern,text)
print(result)

['0132', '2318', '1458', '2725']

In [26]:
import re
pattern='game\Z'
test_string='football is my favorite game'
result=(re.findall(pattern,test_string))
if result:
    print('search sucessfull')
else:
    print('search unsucessfull')

search sucessfull

In [2]:
import re
pattern='\Afoot'
test_string= input('enter a string=')
result=(re.findall(pattern,test_string))
if result:
    print('true')
else:
    print('false')

enter a string=football id my fav
true

In [4]:
import re
pattern='\w'
test_string= input('enter a string=')
result=(re.findall(pattern,test_string))
if result:
    print('true')
else:
    print('false')

enter a string=£$%^&*
false

In [3]:
print(re.findall(r'\bfoot','football'))

['foot']

# Regular Expression Assignment 2

Q1

In [4]:
import re
str='Python Expression, PHP excercises.'
x= re.sub("[\s,,,.]",":",str)
print(x)

Python:Expression::PHP:excercises:

Q2

In [31]:
import pandas as pd
import regex as r
df=pd.DataFrame({'SUMMARY':['hello,world!','XXXXtest','123four,five:;six']})
pattern=r'[,,.,XXXX,123,:,!,;]'
df['SUMMARY'].str.replace(pattern,' ',n=-1,case=0,regex=True)

0         hello world
1                 test
2       four five  six
Name: SUMMARY, dtype: object

Q3

In [35]:
import re 
def find(string):
    regex=re.compile(r'\w{4}')
    matches=regex.findall(string)
    return(matches)
string='there are 123 apples and 456 oranges'
result=find(string)
print(result)

['ther', 'appl', 'oran']

Q4

In [36]:
import re 
def find(string):
    regex=re.compile(r'\w{3,5}')
    matches=regex.findall(string)
    return(matches)
string='there are 123 apples and 456 oranges'
result=find(string)
print(result)

['there', 'are', '123', 'apple', 'and', '456', 'orang']

Q5

In [50]:
import re
def remove(string):
    for i in string:
        regex=re.compile(r"[\()]")
        print(regex.sub("",i))
string= ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science World)", "Data(Scientist)"]
remove(string)

example.com
hr@fliprobo.com
github.com
HelloData Science World
DataScientist

Q7

In [19]:
import regex as re
str='ImportanceofRegularExpressioninPython'
x=re.split(r'([\w+][^A-Z]*)',str,5)
print(x)

['', 'Importanceof', '', 'Regular', '', 'Expressionin', '', 'Python', '']

Q8

In [67]:
import re
str='RegularExpression1IsAn2ImportantTopic3InPython'
x=re.sub(r"(\w)([0-9])",r"\1 \2",str)
         
print(x)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Q11

In [83]:
import re
str='There @123$&& apples_fruits'
pattern='(\w)'
x=re.findall(pattern,str)
print(x)

['T', 'h', 'e', 'r', 'e', '1', '2', '3', 'a', 'p', 'p', 'l', 'e', 's', '_', 'f', 'r', 'u', 'i', 't', 's']

Q12

In [29]:
import re
str='123India is my home town'
pattern='(\A[0-9]*)'
x=re.match(pattern,str)
print(x)

<re.Match object; span=(0, 3), match='123'>

Q13

In [86]:
import re
ip='212.229.85.205'
x=re.sub('\.[0]*','.',ip)
print(x)

212.229.85.205

Q14

In [95]:
import re
with open("C:\\text file\\file.txt") as file:
    for line in file:
        urls=re.findall(r'(?:January|Febrary|March|Apil|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:th)?\s+\d{4}',line)
        print(urls)

['August 15th 1947']

Q15

In [20]:
import re
str='The quick brown fox jumps over the lazy dog.'
search=re.search('fox|dog|horse',str)
if search:
    print('found')
else:
    print('not found')

found

Q16

In [110]:
import re
str='The quick brown fox jumps over the lazy dog.'
search=re.search('fox',str)
print(search)

<re.Match object; span=(16, 19), match='fox'>

Q17

In [118]:
import re
str= 'Python exercises, PHP exercises, C# exercises'
pattern='exercises'
x=re.findall(pattern,str)
print(x)

['exercises', 'exercises', 'exercises']

Q18

In [31]:
import re
str= 'Python exercises, PHP exercises, C# exercises'
pattern='exercises'
x=re.search(pattern,str)
print(x)

<re.Match object; span=(7, 16), match='exercises'>

Q19

In [102]:
import re
date='2024-04-01'
x=re.split('-',date)
n_date='-'.join(x[::-1])
print(n_date)

01-04-2024

Q6

In [96]:
import re
with open("C:\\text file\\file.txt") as file:
    for line in file:
        urls=re.sub(r"\s*\([^)]*\)","",line)
        print(urls)

" ["example", "hr@fliprobo", "github", "Hello", "Data"]"

Q20

In [24]:
import re
def decimal_num(string):
    regex=re.compile(r"\d+\.\d{1,2}")
    x=re.findall(regex,string)
    return(x)
string="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
res=decimal_num(string)
print(res)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

Q22

In [4]:
import re
string= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
x=re.findall('\d+',string)
print('Max_num=',max(x))

Max_num= 950

Q23

In [9]:
import re
def capital_let(string):
    return re.sub(r"(\w)([A-Z])",r"\1 \2",string)
print(capital_let('“RegularExpressionIsAnImportantTopicInPython"'))

“Regular Expression Is An Important Topic In Python"

Q24

In [3]:
import re
str=input('enter a string=')
pattern="[A-Z]+[a-z]+$"
x=re.search(pattern,str)
if x:
    print('found a matched string')
else:
    print('not found the string')

enter a string=Python
found a matched string

Q25

In [24]:
import regex as re
string="Hello hello world world"
regex= r"\b(\w+)(?:\W+\1\b)+"
x=re.sub(regex,r"\1",string)
print(x)

Hello hello world

Q27

In [59]:
import re
string="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
x=re.findall(r"(#\w+)",string)
print(x)

['#Doltiwal', '#xyzabc', '#Demonetization']

Q28

In [72]:
import regex as re
string="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
regex= r"<U\+\w{1,4}>"
x=re.sub(regex,r"",string)
print(x)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Q29

In [77]:
import re
with open("C:\\text file\\file.txt") as file:
    for line in file:
        urls=re.findall(r"\b\d{1,2}-\d{1,2}-\d{2,4}\b",line)
        print(urls)

['12-09-1992', '15-12-1999']

Q30

In [87]:
import re
def remove(string):
        regex=re.compile(r"\b\w{2,4}\b")
        print(re.sub(regex,"",string))
string= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
remove(string)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

Q26

In [92]:
import re
str=input('enter a string=')
pattern="[A-Z]+[a-z]+[0-9]+$"
x=re.search(pattern,str)
if x:
    print('found a matched alphanumeric string')
else:
    print('not found the string')

enter a string=Deepu123
found a matched alphanumeric string

Q21

In [7]:
import re
string="There are 32 Apples"
pattern="\d+"
x=re.search(pattern,string)
print(x)
print('index position=',x.start())

<re.Match object; span=(10, 12), match='32'>
index position= 10

Q10

In [9]:
import pandas as pd
import re
url="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df=pd.read_csv(url)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [44]:
pattern=r"\b(\w{6})"
df['First_Five_letter']=df['Country'].str.extract(pattern,expand=False)

df['First_Five_letter']

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154       NaN
155       NaN
156    Burund
157       NaN
Name: First_Five_letter, Length: 158, dtype: object

In [47]:
df['First_Five_letter'].head()

0    Switze
1    Icelan
2    Denmar
3    Norway
4    Canada
Name: First_Five_letter, dtype: object

Q9

In [88]:
import re
def insert_space(string):
    return re.sub(r"(\w)([0-9])",r"\1 \2 ",string)
print(insert_space("RegularExpression1IsAn2ImportantTopic3InPython"))

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython