In [7]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\hanum\anaconda3\lib\site-packages (4.20.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: trio~=0.17 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.1)
Requirement already satisfied: sortedcontainers in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hanum\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hanum\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hanum\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hanum\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [35]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

Q)1

In [36]:
driver.get('https://www.shine.com/')

In [37]:
job_title=[]
job_location=[]
company_name=[]
experinced_required=[]
title_tags=driver.find_elements(By.XPATH,'//strong[@ class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [75]:
location_tags=driver.find_elements(By.XPATH,'//div[ @class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [76]:
print(len(job_location))

20

In [77]:
name_tags=driver.find_elements(By.XPATH,'//div[@ class="jobCard_jobCard_cName__mYnow"]')
for i in name_tags:
    name=i.text
    company_name.append(name)

In [78]:
print(len(company_name))

20

In [79]:
required_tags=driver.find_elements(By.XPATH,'//div[@ class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in required_tags:
    required=i.text
    experinced_required.append(required)

In [80]:
print(len(experinced_required))

20

In [81]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experinced':experinced_required})
df

,Title,Location,Company,Experinced
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Data Analyst Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
5,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
6,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
7,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
8,Business Analyst,Bangalore\n+6,mackenzie modern it solutions priva...,4 to 6 Yrs
9,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
10,MIS Analyst,Bangalore,quess corp (magna infotech),8 to 13 Yrs
11,Azure Data engineer,Bangalore\n+4,capgemini technology services india...,6 to 10 Yrs
12,Data Engineer-OBIEE,Bangalore\n+1,ltimindtree limited,5 to 10 Yrs
13,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 10 Yrs
14,Data Science- Manager,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 10 Yrs
15,Azure Data Engineer,Bangalore\n+3,live connections placements pvt ltd,4 to 7 Yrs
16,Data Science- Manager,Bangalore\n+7,mackenzie modern it solutions priva...,6 to 11 Yrs
17,Data Support Executive,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 10 Yrs
18,Immediate Joiner For SENIOR DATA ENGINEER __ P...,Bangalore\n+8,sigma allied services private limit...,5 to 10 Yrs
19,Head Data Science,Bangalore\n+7,mackenzie modern it solutions priva...,4 to 9 Yrs

In [82]:
df.head(10)

,Title,Location,Company,Experinced
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Data Analyst Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
5,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
6,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
7,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
8,Business Analyst,Bangalore\n+6,mackenzie modern it solutions priva...,4 to 6 Yrs
9,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.

In [41]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

In [9]:
driver.get('https://www.naukri.com/')

In [10]:
jobs_title=[]
jobs_location=[]
C_name=[]
E_required=[]

In [42]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    jobs_title.append(title)

In [43]:
print(len(jobs_title))

0

In [44]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags:
    location=i.text
    jobs_location.append(location)

In [45]:
name_tags=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in name_tags:
    name=i.text
    C_name.append(name)

In [46]:
required_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in required_tags:
    required=i.text
    E_required.append(required)

In [19]:
C_name

[]

In [17]:
import pandas as pd
df=pd.DataFrame({'Title':jobs_title,'Location':jobs_location,'Name':C_name,'Experinced':E_required})
df

Empty DataFrame
Columns: [Title, Location, Name, Experinced]
Index: []

q3)Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

In [49]:
driver.get('https://www.flipkart.com/')

In [50]:
sunglass_brand=[]
sunplass_price=[]
product_description=[]

In [51]:
start=0
end=5
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brand:
        sunglass_brand.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    next_button.click()
    time.sleep(3)

AttributeError: 'list' object has no attribute 'click'

In [52]:
len(sunglass_brand)

0

In [12]:
sunglass_brand

[]