In [ ]:
1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [36]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium .common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [37]:
driver=webdriver.Chrome()

In [38]:
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ')

In [9]:
Y1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[1]/td[1]')
for i in name_tags:
    name=i.text
Y1_name.append(name)

In [10]:
Y1_name

['"Baby Shark Dance"[7]']

In [12]:
A1_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[1]/td[2]/a')
for i in artist_tags:
    artist=i.text
A1_artist.append(artist)

In [13]:
A1_artist

["Pinkfong Baby Shark - Kids' Songs & Stories"]

In [14]:
U1_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[1]/td[4]')
for i in date_tags:
    date=i.text
U1_date.append(date)

In [15]:
U1_date

['June 17, 2016']

In [16]:
V1_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[1]/td[3]')
for i in views_tags:
    views=i.text
V1_views.append(views)

In [17]:
V1_views

['14.52']

In [18]:
Y2_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[2]/td[1]/a')
for i in name_tags:
    name=i.text
Y2_name.append(name)

In [19]:
Y2_name

['Despacito']

In [20]:
A2_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[2]/td[2]/a')
for i in artist_tags:
    artist=i.text
A2_artist.append(artist)

In [21]:
A2_artist

['Luis Fonsi']

In [23]:
U2_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[2]/td[4]')
for i in date_tags:
    date=i.text
U2_date.append(date)

In [24]:
U2_date

['January 12, 2017']

In [25]:
V2_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[2]/td[3]')
for i in views_tags:
    views=i.text
V2_views.append(views)

In [26]:
V2_views

['8.44']

In [27]:
Y3_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[3]/td[1]/a')
for i in name_tags:
    name=i.text
Y3_name.append(name)

In [28]:
Y3_name

['Johny Johny Yes Papa']

In [29]:
A3_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[3]/td[2]/a')
for i in artist_tags:
    artist=i.text
A3_artist.append(artist)

In [30]:
A3_artist

["LooLoo Kids - Nursery Rhymes and Children's Songs"]

In [31]:
U3_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[3]/td[4]')
for i in date_tags:
    date=i.text
U3_date.append(date)

In [32]:
U3_date

['October 8, 2016']

In [33]:
V3_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[3]/td[3]')
for i in views_tags:
    views=i.text
V3_views.append(views)

In [34]:
V3_views

['6.91']

In [39]:
Y4_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[4]/td[1]/a')
for i in name_tags:
    name=i.text
Y4_name.append(name)

In [40]:
Y4_name

['Bath Song']

In [41]:
A4_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[4]/td[2]/a')
for i in artist_tags:
    artist=i.text
A4_artist.append(artist)

In [42]:
A4_artist

['Cocomelon - Nursery Rhymes']

In [43]:
U4_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[4]/td[4]')
for i in date_tags:
    date=i.text
U4_date.append(date)

In [44]:
U4_date

['May 2, 2018']

In [46]:
V4_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[4]/td[3]')
for i in views_tags:
    views=i.text
V4_views.append(views)

In [47]:
V4_views

['6.70']

In [64]:
Y5_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[5]/td[1]/a')
for i in name_tags:
    name=i.text
Y5_name.append(name)

In [65]:
Y5_name

['See You Again']

In [66]:
A5_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[5]/td[2]/a')
for i in artist_tags:
    artist=i.text
A5_artist.append(artist)

In [67]:
A5_artist

['Wiz Khalifa']

In [68]:
U5_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[5]/td[4]')
for i in date_tags:
    date=i.text
U5_date.append(date)

In [69]:
U5_date

['April 6, 2015']

In [70]:
V5_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[5]/td[3]')
for i in views_tags:
    views=i.text
V5_views.append(views)

In [71]:
V5_views

['6.27']

In [72]:
Y6_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[6]/td[1]/a')
for i in name_tags:
    name=i.text
Y6_name.append(name)

In [73]:
Y6_name

['Shape of You']

In [74]:
A6_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[6]/td[2]/a')
for i in artist_tags:
    artist=i.text
A6_artist.append(artist)

In [75]:
A6_artist

['Ed Sheeran']

In [77]:
U6_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[6]/td[4]')
for i in date_tags:
    date=i.text
U6_date.append(date)

In [78]:
U6_date

['January 30, 2017']

In [79]:
V6_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[6]/td[3]')
for i in views_tags:
    views=i.text
V6_views.append(views)

In [80]:
V6_views

['6.26']

In [84]:
Y7_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[7]/td[1]/a')
for i in name_tags:
    name=i.text
Y7_name.append(name)

In [85]:
Y7_name

['Wheels on the Bus']

In [86]:
A7_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[7]/td[2]/a')
for i in artist_tags:
    artist=i.text
A7_artist.append(artist)

In [87]:
A7_artist

['Cocomelon - Nursery Rhymes']

In [88]:
U7_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[7]/td[4]')
for i in date_tags:
    date=i.text
U7_date.append(date)

In [89]:
U7_date

['May 24, 2018']

In [90]:
V7_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[7]/td[3]')
for i in views_tags:
    views=i.text
V7_views.append(views)

In [91]:
V7_views

['6.13']

In [92]:
Y8_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[8]/td[1]/a')
for i in name_tags:
    name=i.text
Y8_name.append(name)

In [93]:
Y8_name

['Phonics Song with Two Words']

In [94]:
A8_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[8]/td[2]/a')
for i in artist_tags:
    artist=i.text
A8_artist.append(artist)

In [95]:
A8_artist

['ChuChu TV Nursery Rhymes & Kids Songs']

In [96]:
U8_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[8]/td[4]')
for i in date_tags:
    date=i.text
U8_date.append(date)

In [97]:
U8_date

['March 6, 2014']

In [98]:
V8_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[8]/td[3]')
for i in views_tags:
    views=i.text
V8_views.append(views)

In [99]:
V8_views

['5.80']

In [100]:
Y9_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[9]/td[1]/a')
for i in name_tags:
    name=i.text
Y9_name.append(name)

In [101]:
Y9_name

['Uptown Funk']

In [102]:
A9_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[9]/td[2]/a')
for i in artist_tags:
    artist=i.text
A9_artist.append(artist)

In [103]:
A9_artist

['Mark Ronson']

In [104]:
U9_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[9]/td[4]')
for i in date_tags:
    date=i.text
U9_date.append(date)

In [105]:
U9_date

['November 19, 2014']

In [106]:
V9_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[9]/td[3]')
for i in views_tags:
    views=i.text
V9_views.append(views)

In [107]:
V9_views

['5.23']

In [108]:
Y10_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[10]/td[1]/a')
for i in name_tags:
    name=i.text
Y10_name.append(name)

In [109]:
Y10_name

['Gangnam Style']

In [110]:
A10_artist=[]
artist_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[10]/td[2]')
for i in artist_tags:
    artist=i.text
A10_artist.append(artist)

In [111]:
A10_artist

['Psy']

In [112]:
U10_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[10]/td[4]')
for i in date_tags:
    date=i.text
U10_date.append(date)

In [113]:
U10_date

['July 15, 2012']

In [125]:
V10_views=[]
views_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr[10]/td[3]')
for i in views_tags:
    views=i.text
V10_views.append(views)

In [115]:
V10_views

['5.15']

In [132]:
import pandas as pd
data={'Name':[Y1_name,Y2_name,Y3_name,Y4_name,Y5_name,Y6_name,Y7_name,Y8_name,Y9_name,Y10_name],'Artist':[A1_artist,A2_artist,A3_artist,A4_artist,A5_artist,A6_artist,A7_artist,A8_artist,A9_artist,A10_artist],
     'Upload Date':[U1_date,U2_date,U3_date,U4_date,U5_date,U6_date,U7_date,U8_date,U9_date,U10_date],
     'Views':[V1_views,V2_views,V3_views,V4_views,V5_views,V6_views,V7_views,V8_views,V9_views,V10_views]}
df=pd.DataFrame(data,index=[1,2,3,4,5,6,7,8,9,10])

In [127]:
df

,Name,Artist,Upload Date,Views
1,"[""Baby Shark Dance""[7]]",[Pinkfong Baby Shark - Kids' Songs & Stories],"[June 17, 2016]",[14.52]
2,[Despacito],[Luis Fonsi],"[January 12, 2017]",[8.44]
3,[Johny Johny Yes Papa],[LooLoo Kids - Nursery Rhymes and Children's S...,"[October 8, 2016]",[6.91]
4,"[Bath Song, See You Again, See You Again, See ...",[Cocomelon - Nursery Rhymes],"[May 2, 2018]",[6.70]
5,[See You Again],[Wiz Khalifa],"[April 6, 2015]",[6.27]
6,[Shape of You],[Ed Sheeran],"[January 30, 2017]",[6.26]
7,[Wheels on the Bus],[Cocomelon - Nursery Rhymes],"[May 24, 2018]",[6.13]
8,[Phonics Song with Two Words],[ChuChu TV Nursery Rhymes & Kids Songs],"[March 6, 2014]",[5.80]
9,[Uptown Funk],[Mark Ronson],"[November 19, 2014]",[5.23]
10,[Gangnam Style],[Psy],"[July 15, 2012]",[5.15]

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [36]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium .common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [37]:
driver=webdriver.Chrome()

In [38]:
driver.get(' https://github.com/')

In [40]:
user_tags=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[1]/div/div[2]/input')
user_tags.send_keys('Repository title')
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[1]/span[1]')
search.click()

In [61]:
R_title=[]
R_description=[]
C_contributor=[]
l_used=[]
start=1
end=5
for page in range (start,end):
    title=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 qaOIC search-match"]')
    for i in title:
        R_title.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/main/react-app/div/div/div[1]/div/div/div[2]/div[2]/div/div[1]/div[5]/div/nav/div/button')
    next_button.click()

In [62]:
len(R_title)

40

In [63]:
R_title

['strato-emu/compat-list',
 'CoderPat/structured-neural-summarization',
 'AndreLouisIssa/Borderlands-Cheat-Tables',
 'project-valhalla/main',
 'MadkaT182/CdTitles',
 'conda-forge/titlecase-feedstock',
 'rtoal/cmsi401-fall2015-presentation',
 'premaseem/DesignPatternsJava9',
 'britt-allen/ecfr_xml_parsing',
 't1ffi/INF202JointProjectStage3CreativeTitle',
 'strato-emu/compat-list',
 'CoderPat/structured-neural-summarization',
 'AndreLouisIssa/Borderlands-Cheat-Tables',
 'project-valhalla/main',
 'MadkaT182/CdTitles',
 'conda-forge/titlecase-feedstock',
 'rtoal/cmsi401-fall2015-presentation',
 'premaseem/DesignPatternsJava9',
 'britt-allen/ecfr_xml_parsing',
 't1ffi/INF202JointProjectStage3CreativeTitle',
 'strato-emu/compat-list',
 'CoderPat/structured-neural-summarization',
 'AndreLouisIssa/Borderlands-Cheat-Tables',
 'project-valhalla/main',
 'MadkaT182/CdTitles',
 'conda-forge/titlecase-feedstock',
 'rtoal/cmsi401-fall2015-presentation',
 'premaseem/DesignPatternsJava9',
 'britt-allen/ecfr_xml_parsing',
 't1ffi/INF202JointProjectStage3CreativeTitle',
 'strato-emu/compat-list',
 'CoderPat/structured-neural-summarization',
 'AndreLouisIssa/Borderlands-Cheat-Tables',
 'project-valhalla/main',
 'MadkaT182/CdTitles',
 'conda-forge/titlecase-feedstock',
 'rtoal/cmsi401-fall2015-presentation',
 'premaseem/DesignPatternsJava9',
 'britt-allen/ecfr_xml_parsing',
 't1ffi/INF202JointProjectStage3CreativeTitle']

In [65]:
R_description=[]
start=1
end=5
for page in range (start,end):
    description=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 kWPXhV search-match"]')
    for i in description:
        R_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/main/react-app/div/div/div[1]/div/div/div[2]/div[2]/div/div[1]/div[5]/div/nav/div/button')
    next_button.click()

In [66]:
R_description

['A repository for collection of compatibility data for Nintendo Switch titles with Strato',
 'A repository with the code for the paper with the same title',
 'A repository for cheat table compilations for Borderlands titles.',
 'Main repository for Valhalla, a first-person shooter game project inspired by old school and modern titles.',
 'Repository of cdtitles for Stepmania',
 'A conda-smithy repository for titlecase.',
 'Just what the repository title says it is',
 'This repository has all 23 GOF design patterns coded in Java 9 with around 50+ working project code used for Video Course by Packt Public…',
 "Parsing CFR Title 16 Commercial Practices from the GPO's Bulk Data Repository",
 'A testing repository for INF 202 Joint Project Stage 3 assignment.',
 'A repository for collection of compatibility data for Nintendo Switch titles with Strato',
 'A repository with the code for the paper with the same title',
 'A repository for cheat table compilations for Borderlands titles.',
 'Main repository for Valhalla, a first-person shooter game project inspired by old school and modern titles.',
 'Repository of cdtitles for Stepmania',
 'A conda-smithy repository for titlecase.',
 'Just what the repository title says it is',
 'This repository has all 23 GOF design patterns coded in Java 9 with around 50+ working project code used for Video Course by Packt Public…',
 "Parsing CFR Title 16 Commercial Practices from the GPO's Bulk Data Repository",
 'A testing repository for INF 202 Joint Project Stage 3 assignment.',
 'A repository for collection of compatibility data for Nintendo Switch titles with Strato',
 'A repository with the code for the paper with the same title',
 'A repository for cheat table compilations for Borderlands titles.',
 'Main repository for Valhalla, a first-person shooter game project inspired by old school and modern titles.',
 'Repository of cdtitles for Stepmania',
 'A conda-smithy repository for titlecase.',
 'Just what the repository title says it is',
 'This repository has all 23 GOF design patterns coded in Java 9 with around 50+ working project code used for Video Course by Packt Public…',
 "Parsing CFR Title 16 Commercial Practices from the GPO's Bulk Data Repository",
 'A testing repository for INF 202 Joint Project Stage 3 assignment.',
 'A repository for collection of compatibility data for Nintendo Switch titles with Strato',
 'A repository with the code for the paper with the same title',
 'A repository for cheat table compilations for Borderlands titles.',
 'Main repository for Valhalla, a first-person shooter game project inspired by old school and modern titles.',
 'Repository of cdtitles for Stepmania',
 'A conda-smithy repository for titlecase.',
 'Just what the repository title says it is',
 'This repository has all 23 GOF design patterns coded in Java 9 with around 50+ working project code used for Video Course by Packt Public…',
 "Parsing CFR Title 16 Commercial Practices from the GPO's Bulk Data Repository",
 'A testing repository for INF 202 Joint Project Stage 3 assignment.']

In [67]:
len(R_description)

40

In [68]:
l_used=[]
start=1
end=5
for page in range (start,end):
    used=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 gPDEWA"]')
    for i in used:
        l_used.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/main/react-app/div/div/div[1]/div/div/div[2]/div[2]/div/div[1]/div[5]/div/nav/div/button')
    next_button.click()

In [69]:
l_used

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1.2k',
 '',
 '388',
 'Updated on 27 Apr',
 'on 27 Apr',
 'Python',
 '74',
 'Updated on 9 May 2019',
 'on 9 May 2019',
 '14',
 'Updated on 17 Aug 2019',
 'on 17 Aug 2019',
 'C',
 '46',
 'Updated 2 hours ago',
 '2 hours ago',
 '4',
 'Updated on 4 Aug 2020',
 'on 4 Aug 2020',
 '2',
 'Updated 25 days ago',
 '25 days ago',
 '0',
 'Updated on 15 Dec 2015',
 'on 15 Dec 2015',
 'Java',
 '82',
 'Updated on 12 Aug 2018',
 'on 12 Aug 2018',
 'Jupyter Notebook',
 '8',
 'Updated on 25 Apr 2020',
 'on 25 Apr 2020',
 '0',
 'Updated on 4 Jul 2018',
 'on 4 Jul 2018',
 'Press the / key to activate the search input again and adjust your query.',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1.2k',
 '',
 '388',
 'Updated on 27 Apr',
 'on 27 Apr',
 'Python',
 '74',
 'Updated on 9 May 2019',
 'on 9 May 2019',
 '14',
 'Updated on 17 Aug 2019',
 'on 17 Aug 2019',
 'C',
 '46',
 'Updated 2 hours ago',
 '2 hours ago',
 '4',
 'Updated on 4 Aug 2020',
 'on 4 Aug 2020',
 '2',
 'Updated 25 days ago',
 '25 days ago',
 '0',
 'Updated on 15 Dec 2015',
 'on 15 Dec 2015',
 'Java',
 '82',
 'Updated on 12 Aug 2018',
 'on 12 Aug 2018',
 'Jupyter Notebook',
 '8',
 'Updated on 25 Apr 2020',
 'on 25 Apr 2020',
 '0',
 'Updated on 4 Jul 2018',
 'on 4 Jul 2018',
 'Press the / key to activate the search input again and adjust your query.',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1.2k',
 '',
 '388',
 'Updated on 27 Apr',
 'on 27 Apr',
 'Python',
 '74',
 'Updated on 9 May 2019',
 'on 9 May 2019',
 '14',
 'Updated on 17 Aug 2019',
 'on 17 Aug 2019',
 'C',
 '46',
 'Updated 2 hours ago',
 '2 hours ago',
 '4',
 'Updated on 4 Aug 2020',
 'on 4 Aug 2020',
 '2',
 'Updated 25 days ago',
 '25 days ago',
 '0',
 'Updated on 15 Dec 2015',
 'on 15 Dec 2015',
 'Java',
 '82',
 'Updated on 12 Aug 2018',
 'on 12 Aug 2018',
 'Jupyter Notebook',
 '8',
 'Updated on 25 Apr 2020',
 'on 25 Apr 2020',
 '0',
 'Updated on 4 Jul 2018',
 'on 4 Jul 2018',
 'Press the / key to activate the search input again and adjust your query.',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1.2k',
 '',
 '388',
 'Updated on 27 Apr',
 'on 27 Apr',
 'Python',
 '74',
 'Updated on 9 May 2019',
 'on 9 May 2019',
 '14',
 'Updated on 17 Aug 2019',
 'on 17 Aug 2019',
 'C',
 '46',
 'Updated 2 hours ago',
 '2 hours ago',
 '4',
 'Updated on 4 Aug 2020',
 'on 4 Aug 2020',
 '2',
 'Updated 25 days ago',
 '25 days ago',
 '0',
 'Updated on 15 Dec 2015',
 'on 15 Dec 2015',
 'Java',
 '82',
 'Updated on 12 Aug 2018',
 'on 12 Aug 2018',
 'Jupyter Notebook',
 '8',
 'Updated on 25 Apr 2020',
 'on 25 Apr 2020',
 '0',
 'Updated on 4 Jul 2018',
 'on 4 Jul 2018',
 'Press the / key to activate the search input again and adjust your query.',
 '']

In [70]:
len(l_used)

216

In [71]:
import pandas as pd
df=pd.DataFrame({'Title':R_title,'Description':R_description})
df

,Title,Description
0,strato-emu/compat-list,A repository for collection of compatibility d...
1,CoderPat/structured-neural-summarization,A repository with the code for the paper with ...
2,AndreLouisIssa/Borderlands-Cheat-Tables,A repository for cheat table compilations for ...
3,project-valhalla/main,"Main repository for Valhalla, a first-person s..."
4,MadkaT182/CdTitles,Repository of cdtitles for Stepmania
5,conda-forge/titlecase-feedstock,A conda-smithy repository for titlecase.
6,rtoal/cmsi401-fall2015-presentation,Just what the repository title says it is
7,premaseem/DesignPatternsJava9,This repository has all 23 GOF design patterns...
8,britt-allen/ecfr_xml_parsing,Parsing CFR Title 16 Commercial Practices from...
9,t1ffi/INF202JointProjectStage3CreativeTitle,A testing repository for INF 202 Joint Project...
10,strato-emu/compat-list,A repository for collection of compatibility d...
11,CoderPat/structured-neural-summarization,A repository with the code for the paper with ...
12,AndreLouisIssa/Borderlands-Cheat-Tables,A repository for cheat table compilations for ...
13,project-valhalla/main,"Main repository for Valhalla, a first-person s..."
14,MadkaT182/CdTitles,Repository of cdtitles for Stepmania
15,conda-forge/titlecase-feedstock,A conda-smithy repository for titlecase.
16,rtoal/cmsi401-fall2015-presentation,Just what the repository title says it is
17,premaseem/DesignPatternsJava9,This repository has all 23 GOF design patterns...
18,britt-allen/ecfr_xml_parsing,Parsing CFR Title 16 Commercial Practices from...
19,t1ffi/INF202JointProjectStage3CreativeTitle,A testing repository for INF 202 Joint Project...
20,strato-emu/compat-list,A repository for collection of compatibility d...
21,CoderPat/structured-neural-summarization,A repository with the code for the paper with ...
22,AndreLouisIssa/Borderlands-Cheat-Tables,A repository for cheat table compilations for ...
23,project-valhalla/main,"Main repository for Valhalla, a first-person s..."
24,MadkaT182/CdTitles,Repository of cdtitles for Stepmania
25,conda-forge/titlecase-feedstock,A conda-smithy repository for titlecase.
26,rtoal/cmsi401-fall2015-presentation,Just what the repository title says it is
27,premaseem/DesignPatternsJava9,This repository has all 23 GOF design patterns...
28,britt-allen/ecfr_xml_parsing,Parsing CFR Title 16 Commercial Practices from...
29,t1ffi/INF202JointProjectStage3CreativeTitle,A testing repository for INF 202 Joint Project...
30,strato-emu/compat-list,A repository for collection of compatibility d...
31,CoderPat/structured-neural-summarization,A repository with the code for the paper with ...
32,AndreLouisIssa/Borderlands-Cheat-Tables,A repository for cheat table compilations for ...
33,project-valhalla/main,"Main repository for Valhalla, a first-person s..."
34,MadkaT182/CdTitles,Repository of cdtitles for Stepmania
35,conda-forge/titlecase-feedstock,A conda-smithy repository for titlecase.
36,rtoal/cmsi401-fall2015-presentation,Just what the repository title says it is
37,premaseem/DesignPatternsJava9,This repository has all 23 GOF design patterns...
38,britt-allen/ecfr_xml_parsing,Parsing CFR Title 16 Commercial Practices from...
39,t1ffi/INF202JointProjectStage3CreativeTitle,A testing repository for INF 202 Joint Project...

In [72]:
df.head(10)

,Title,Description
0,strato-emu/compat-list,A repository for collection of compatibility d...
1,CoderPat/structured-neural-summarization,A repository with the code for the paper with ...
2,AndreLouisIssa/Borderlands-Cheat-Tables,A repository for cheat table compilations for ...
3,project-valhalla/main,"Main repository for Valhalla, a first-person s..."
4,MadkaT182/CdTitles,Repository of cdtitles for Stepmania
5,conda-forge/titlecase-feedstock,A conda-smithy repository for titlecase.
6,rtoal/cmsi401-fall2015-presentation,Just what the repository title says it is
7,premaseem/DesignPatternsJava9,This repository has all 23 GOF design patterns...
8,britt-allen/ecfr_xml_parsing,Parsing CFR Title 16 Commercial Practices from...
9,t1ffi/INF202JointProjectStage3CreativeTitle,A testing repository for INF 202 Joint Project...

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium .common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get('https:/www.billboard.com/')

In [6]:


chart=driver.find_elements(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3')
board=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
board.click()

In [157]:
S1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S1_name.append(name)

In [158]:
len(S1_name)

1

In [159]:
S1_name

['I Had Some Help']

In [43]:
S2_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S2_name.append(name)

In [44]:
S2_name

['Not Like Us']

In [47]:
S3_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[4]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S3_name.append(name)

In [48]:
S3_name

['Million Dollar Baby']

In [55]:
S4_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[5]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S4_name.append(name)

In [56]:
S4_name

['A Bar Song (Tipsy)']

In [57]:
S5_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[6]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S5_name.append(name)

In [58]:
S5_name

['Espresso']

In [59]:
S6_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[7]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S6_name.append(name)

In [60]:
S6_name

['Pink Skies']

In [61]:
S7_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[8]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S7_name.append(name)

In [62]:
S7_name

['Lose Control']

In [63]:
S8_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[9]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S8_name.append(name)

In [64]:
S8_name

['Too Sweet']

In [66]:
S9_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[10]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S9_name.append(name)

In [67]:
S9_name

['Beautiful Things']

In [68]:
S10_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[11]/ul/li[4]/ul/li[1]/h3')
for i in name_tags:
    name=i.text
S10_name.append(name)

In [69]:
S10_name

['Lunch']

In [70]:
A1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A1_name.append(name)

In [71]:
A1_name

['Post Malone Featuring Morgan Wallen']

In [72]:
A2_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A2_name.append(name)

In [73]:
A2_name

['Kendrick Lamar']

In [74]:
A3_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[4]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A3_name.append(name)

In [75]:
A3_name

['Tommy Richman']

In [77]:
A4_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[5]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A4_name.append(name)

In [78]:
A4_name

['Shaboozey']

In [79]:
A5_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[6]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A5_name.append(name)

In [80]:
A5_name

['Sabrina Carpenter']

In [81]:
A6_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[7]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A6_name.append(name)

In [82]:
A6_name

['Zach Bryan']

In [83]:
A7_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[8]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A7_name.append(name)

In [84]:
A7_name

['Teddy Swims']

In [85]:
A8_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[9]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A8_name.append(name)

In [86]:
A8_name

['Hozier']

In [87]:
A9_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[10]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A9_name.append(name)

In [88]:
A9_name

['Benson Boone']

In [89]:
A10_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[11]/ul/li[4]/ul/li[1]/span')
for i in name_tags:
    name=i.text
A10_name.append(name)

In [90]:
A10_name

['Billie Eilish']

In [161]:
l1_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l1_rank.append(rank)

In [162]:
l1_rank

['1']

In [164]:
l2_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l2_rank.append(rank)

In [165]:
l2_rank

['2']

In [166]:
l3_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[4]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l3_rank.append(rank)

In [167]:
l3_rank

['3']

In [168]:
l4_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[5]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l4_rank.append(rank)

In [169]:
l4_rank

['4']

In [170]:
l5_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[6]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l5_rank.append(rank)

In [171]:
l5_rank

['6']

In [172]:
l6_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[7]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l6_rank.append(rank)

In [173]:
l6_rank

['-']

In [174]:
l7_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[7]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l7_rank.append(rank)

In [175]:
l7_rank

['-']

In [176]:
l8_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[9]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l8_rank.append(rank)

In [177]:
l8_rank

['9']

In [178]:
l9_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[10]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l9_rank.append(rank)

In [179]:
l9_rank

['8']

In [180]:
l10_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[11]/ul/li[4]/ul/li[7]/ul/li[3]')
for i in rank_tags:
    rank=i.text
l10_rank.append(rank)

In [181]:
l10_rank

['5']

In [182]:
p1_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p1_rank.append(rank)

In [183]:
p1_rank

['1']

In [184]:
p2_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p2_rank.append(rank)

In [185]:
p2_rank

['1']

In [186]:
p3_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[4]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p3_rank.append(rank)

In [187]:
p3_rank

['2']

In [188]:
p4_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[5]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p4_rank.append(rank)

In [189]:
p4_rank

['3']

In [190]:
p5_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[6]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p5_rank.append(rank)

In [191]:
p5_rank

['4']

In [192]:
p6_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[7]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p6_rank.append(rank)

In [193]:
p6_rank

['6']

In [194]:
p7_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[8]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p7_rank.append(rank)

In [195]:
p7_rank

['1']

In [196]:
p8_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[9]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p8_rank.append(rank)

In [197]:
p8_rank

['1']

In [198]:
p9_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[10]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p9_rank.append(rank)

In [199]:
p9_rank

['2']

In [200]:
p10_rank=[]
rank_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[11]/ul/li[4]/ul/li[7]/ul/li[4]')
for i in rank_tags:
    rank=i.text
p10_rank.append(rank)

In [201]:
p10_rank

['5']

In [202]:
w1_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w1_board.append(board)

In [203]:
w1_board

['3']

In [204]:
w2_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[3]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w2_board.append(board)

In [205]:
w2_board

['4']

In [206]:
w3_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[4]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w3_board.append(board)

In [207]:
w3_board

['5']

In [208]:
w4_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[5]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w4_board.append(board)

In [209]:
w4_board

['7']

In [210]:
w5_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[6]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w5_board.append(board)

In [211]:
w5_board

['7']

In [212]:
w6_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[7]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w6_board.append(board)

In [213]:
w6_board

['1']

In [214]:
w7_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[8]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w7_board.append(board)

In [215]:
w7_board

['42']

In [216]:
w8_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[9]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w8_board.append(board)

In [217]:
w8_board

['10']

In [218]:
w9_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[10]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w9_board.append(board)

In [219]:
w9_board

['19']

In [220]:
w10_board=[]
board_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[11]/ul/li[4]/ul/li[7]/ul/li[5]')
for i in board_tags:
    board=i.text
w10_board.append(board)

In [221]:
w10_board

['2']

In [223]:
import pandas as pd
df=pd.DataFrame({'Song':[S1_name,S2_name,S3_name,S4_name,S5_name,S6_name,S7_name,S8_name,S9_name,S10_name],
                'Artist':[A1_name,A2_name,A3_name,A4_name,A5_name,A6_name,A7_name,A8_name,A9_name,A10_name],
                'L_Rank':[l1_rank,l2_rank,l3_rank,l4_rank,l5_rank,l6_rank,l7_rank,l8_rank,l9_rank,l10_rank],
                'P_Rank':[p1_rank,p2_rank,p3_rank,p4_rank,p5_rank,p6_rank,p7_rank,p8_rank,p9_rank,p10_rank],
                'W_board':[w1_board,w2_board,w3_board,w4_board,w5_board,w6_board,w7_board,w8_board,w9_board,w10_board]})
df

,Song,Artist,L_Rank,P_Rank,W_board
0,[I Had Some Help],[Post Malone Featuring Morgan Wallen],[1],[1],[3]
1,[Not Like Us],[Kendrick Lamar],[2],[1],[4]
2,[Million Dollar Baby],[Tommy Richman],[3],[2],[5]
3,[A Bar Song (Tipsy)],[Shaboozey],[4],[3],[7]
4,[Espresso],[Sabrina Carpenter],[6],[4],[7]
5,[Pink Skies],[Zach Bryan],[-],[6],[1]
6,[Lose Control],[Teddy Swims],[-],[1],[42]
7,[],[Hozier],[9],[1],[10]
8,[Beautiful Things],[Benson Boone],[8],[2],[19]
9,[Lunch],[Billie Eilish],[5],[5],[2]

In [224]:
df

,Song,Artist,L_Rank,P_Rank,W_board
0,[I Had Some Help],[Post Malone Featuring Morgan Wallen],[1],[1],[3]
1,[Not Like Us],[Kendrick Lamar],[2],[1],[4]
2,[Million Dollar Baby],[Tommy Richman],[3],[2],[5]
3,[A Bar Song (Tipsy)],[Shaboozey],[4],[3],[7]
4,[Espresso],[Sabrina Carpenter],[6],[4],[7]
5,[Pink Skies],[Zach Bryan],[-],[6],[1]
6,[Lose Control],[Teddy Swims],[-],[1],[42]
7,[],[Hozier],[9],[1],[10]
8,[Beautiful Things],[Benson Boone],[8],[2],[19]
9,[Lunch],[Billie Eilish],[5],[5],[2]

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [1]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium .common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [28]:
b1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[1]')
for i in name_tags:
    name=i.text
b1_name.append(name)

In [29]:
b1_name

['1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure']

In [30]:
b2_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[2]')
for i in name_tags:
    name=i.text
b2_name.append(name)

In [31]:
b2_name

["2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction"]

In [32]:
b3_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[3]')
for i in name_tags:
    name=i.text
b3_name.append(name)

In [33]:
b3_name

["3 Harry Potter and the Philosopher's Stone Rowling, J.K. 4,200,654 Bloomsbury Children's Fiction"]

In [41]:
t_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/thead/tr')
for i in name_tags:
    name=i.text
t_name.append(name)

In [42]:
t_name

['Rank\nTitle\nAuthor\nVolume Sales\nPublisher\nGenre']

In [44]:
b4_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[4]')
for i in name_tags:
    name=i.text
b4_name.append(name)

In [45]:
b4_name

["4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction"]

In [46]:
b5_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[5]')
for i in name_tags:
    name=i.text
b5_name.append(name)

In [47]:
b5_name

['5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas']

In [48]:
b6_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[6]')
for i in name_tags:
    name=i.text
b6_name.append(name)

In [49]:
b6_name

["6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction"]

In [50]:
b7_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[7]')
for i in name_tags:
    name=i.text
b7_name.append(name)

In [51]:
b7_name

["7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children's Fiction"]

In [52]:
b8_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[8]')
for i in name_tags:
    name=i.text
b8_name.append(name)

In [53]:
b8_name

["8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction"]

In [54]:
b9_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[9]')
for i in name_tags:
    name=i.text
b9_name.append(name)

In [55]:
b9_name

['9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure']

In [56]:
b10_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[10]')
for i in name_tags:
    name=i.text
b10_name.append(name)

In [57]:
b10_name

["10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction"]

In [58]:
b11_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[11]')
for i in name_tags:
    name=i.text
b11_name.append(name)

In [59]:
b11_name

['11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas']

In [60]:
b12_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[12]')
for i in name_tags:
    name=i.text
b12_name.append(name)

In [61]:
b12_name

['12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction']

In [62]:
b13_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[13]')
for i in name_tags:
    name=i.text
b13_name.append(name)

In [63]:
b13_name

['13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure']

In [64]:
b14_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[14]')
for i in name_tags:
    name=i.text
b14_name.append(name)

In [65]:
b14_name

['14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas']

In [66]:
b15_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[15]')
for i in name_tags:
    name=i.text
b15_name.append(name)

In [67]:
b15_name

['15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure']

In [68]:
b16_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[16]')
for i in name_tags:
    name=i.text
b16_name.append(name)

In [69]:
b16_name

['16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction']

In [70]:
b17_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[17]')
for i in name_tags:
    name=i.text
b17_name.append(name)

In [71]:
b17_name

['17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure']

In [72]:
b18_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[18]')
for i in name_tags:
    name=i.text
b18_name.append(name)

In [73]:
b18_name

['18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction']

In [74]:
b19_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[19]')
for i in name_tags:
    name=i.text
b19_name.append(name)

In [75]:
b19_name

['19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction']

In [76]:
b20_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr[20]')
for i in name_tags:
    name=i.text
b20_name.append(name)

In [77]:
b20_name

['20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction']

In [82]:
import pandas as pd
pd.DataFrame([t_name,b1_name,b2_name,b3_name,b4_name,b5_name,b6_name,b7_name,b8_name,b9_name,b10_name,b11_name,b12_name,
             b13_name,b14_name,b15_name,b16_name,b17_name,b18_name,b19_name,b20_name])

                                                    0
0   Rank\nTitle\nAuthor\nVolume Sales\nPublisher\n...
1   1 Da Vinci Code,The Brown, Dan 5,094,805 Trans...
2   2 Harry Potter and the Deathly Hallows Rowling...
3   3 Harry Potter and the Philosopher's Stone Row...
4   4 Harry Potter and the Order of the Phoenix Ro...
5   5 Fifty Shades of Grey James, E. L. 3,758,936 ...
6   6 Harry Potter and the Goblet of Fire Rowling,...
7   7 Harry Potter and the Chamber of Secrets Rowl...
8   8 Harry Potter and the Prisoner of Azkaban Row...
9   9 Angels and Demons Brown, Dan 3,193,946 Trans...
10  10 Harry Potter and the Half-blood Prince:Chil...
11  11 Fifty Shades Darker James, E. L. 2,479,784 ...
12  12 Twilight Meyer, Stephenie 2,315,405 Little,...
13  13 Girl with the Dragon Tattoo,The:Millennium ...
14  14 Fifty Shades Freed James, E. L. 2,193,928 R...
15  15 Lost Symbol,The Brown, Dan 2,183,031 Transw...
16  16 New Moon Meyer, Stephenie 2,152,737 Little,...
17  17 Deception Point Brown, Dan 2,062,145 Transw...
18  18 Eclipse Meyer, Stephenie 2,052,876 Little, ...
19  19 Lovely Bones,The Sebold, Alice 2,005,598 Pa...
20  20 Curious Incident of the Dog in the Night-ti...


7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [162]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium .common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [163]:
driver=webdriver.Chrome()

In [164]:
driver.get('https://www.imdb.com/list/ls095964455/ ')

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [241]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium .common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [242]:
driver=webdriver.Chrome()

In [243]:
driver.get(' https://archive.ics.uci.edu/ ')

In [244]:

dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()

In [177]:
D1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div[1]/div[2]/h2/a')
for i in name_tags:
    name=i.text
D1_name.append(name)

In [178]:
D1_name

['Iris']

In [179]:
D2_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[3]/div/div[2]/h2/a')
for i in name_tags:
    name=i.text
D2_name.append(name)

In [180]:
D2_name

['Dry Bean']

In [181]:
D3_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[5]/div/div[2]/h2/a')
for i in name_tags:
    name=i.text
D3_name.append(name)

In [182]:
D3_name

['Heart Disease']

In [195]:
D4_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[7]/div/div[2]/h2/a')
for i in name_tags:
    name=i.text
D4_name.append(name)

In [196]:
D4_name

['Rice (Cammeo and Osmancik)']

In [197]:
D5_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[9]/div/div[2]/h2/a')
for i in name_tags:
    name=i.text
D5_name.append(name)

In [198]:
D5_name

['Raisin']

In [199]:
D6_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[11]/div/div[2]/h2/a')
for i in name_tags:
    name=i.text
D6_name.append(name)

In [200]:
D6_name

['Adult']

In [201]:
D7_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[13]/div/div[2]/h2/a')
for i in name_tags:
    name=i.text
D7_name.append(name)

In [202]:
D7_name

['Breast Cancer Wisconsin (Diagnostic)']

In [203]:
D8_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[15]/div/div[2]/h2/a')
for i in name_tags:
    name=i.text
D8_name.append(name)

In [204]:
D8_name

['Wine']

In [207]:
D9_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[17]/div/div[2]/h2/a')
for i in name_tags:
    name=i.text
D9_name.append(name)

In [208]:
D9_name

['Wine Quality']

In [209]:
D10_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[19]/div/div[2]/h2/a')
for i in name_tags:
    name=i.text
D10_name.append(name)

In [210]:
D10_name

['Bank Marketing']

In [211]:
T_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div/div[2]/p')
for i in name_tags:
    name=i.text
T_name.append(name)

In [212]:
T_name

['A small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.']

In [250]:
product_urls=[]
start=0
end=2
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in url:
        product_urls.append(i.get_attribute('href'))
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    time.sleep(2)

In [251]:
len(product_urls)

20

In [252]:
dataset=[]
datatype=[]
task=[]
instance=[]
year=[]

In [253]:
for url in product_urls:
    driver.get(url)
    
    
    try:
        dataset=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p')
        dataset.append(dataset)
        
    except NoSuchElementException:
        dataset.append('-')
    
    try:
        datatype= driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        datatype.append(datatype)
    
        
    except NoSuchElementException:
        datatype.append('-')
        
    try:
        task=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        task.append(task)
        
    except NoSuchelementException:
        task.append('-')
        
    try:
        instance=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        instance.append(instance)
        
    except NoSuchElementException:
        instance.append('-')
        
    try:
        date=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        date.append(date)
        
    except NoSuchElementException:
        date.append('-')

In [254]:
dataset
datatype
task
instance
date

[<selenium.webdriver.remote.webelement.WebElement (session="7f3340a6f9778603f94da9388abffb55", element="f.14B666C4BA5936971D4A76D1081CF964.d.DE0C0CF32DDCABC0F8B155BC87D2D117.e.43450")>,
 [...]]

In [258]:
t1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[1]/div/div[2]/p')
for i in name_tags:
    name=i.text
t1_name.append(name)

In [259]:
t1_name

['A small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.']

In [260]:
t2_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[3]/div/div[2]/p')
for i in name_tags:
    name=i.text
t2_name.append(name)

In [261]:
t2_name

['Images of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.']

In [262]:
t3_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[5]/div/div[2]/p')
for i in name_tags:
    name=i.text
t3_name.append(name)

In [263]:
t3_name

['4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach']

In [264]:
t4_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[7]/div/div[2]/p')
for i in name_tags:
    name=i.text
t4_name.append(name)

In [265]:
t4_name

["A total of 3810 rice grain's images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice."]

In [266]:
t5_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[9]/div/div[2]/p')
for i in name_tags:
    name=i.text
t5_name.append(name)

In [267]:
t5_name

['Images of the Kecimen and Besni raisin varieties were obtained with CVS. A total of 900 raisins were used, including 450 from both varieties, and 7 morphological features were extracted.']

In [268]:
t6_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[11]/div/div[2]/p')
for i in name_tags:
    name=i.text
t6_name.append(name)

In [269]:
t6_name

['Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.']

In [270]:
t7_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[13]/div/div[2]/p')
for i in name_tags:
    name=i.text
t7_name.append(name)

In [271]:
t7_name

['Diagnostic Wisconsin Breast Cancer Database.']

In [272]:
t8_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[15]/div/div[2]/p')
for i in name_tags:
    name=i.text
t8_name.append(name)

In [273]:
t8_name

['Using chemical analysis to determine the origin of wines']

In [274]:
t9_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[17]/div/div[2]/p')
for i in name_tags:
    name=i.text
t9_name.append(name)

In [275]:
t9_name

['Two datasets are included, related to red and white vinho verde wine samples, from the north of Portugal. The goal is to model wine quality based on physicochemical tests (see [Cortez et al., 2009], http://www3.dsi.uminho.pt/pcortez/wine/).']

In [276]:
t10_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[19]/div/div[2]/p')
for i in name_tags:
    name=i.text
t10_name.append(name)

In [277]:
t10_name

['The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).']

In [279]:
import pandas as pd
pd.DataFrame({'DataName':[D1_name,D2_name,D3_name,D4_name,D5_name,D6_name,D7_name,D8_name,D9_name,D10_name],
              'Datatype':[t1_name,t2_name,t3_name,t4_name,t5_name,t6_name,t7_name,t8_name,t9_name,t10_name]})

,DataName,Datatype
0,[Iris],"[A small classic dataset from Fisher, 1936. On..."
1,[Dry Bean],"[Images of 13,611 grains of 7 different regist..."
2,[Heart Disease],"[4 databases: Cleveland, Hungary, Switzerland,..."
3,[Rice (Cammeo and Osmancik)],[A total of 3810 rice grain's images were take...
4,[Raisin],[Images of the Kecimen and Besni raisin variet...
5,[Adult],[Predict whether income exceeds $50K/yr based ...
6,[Breast Cancer Wisconsin (Diagnostic)],[Diagnostic Wisconsin Breast Cancer Database.]
7,[Wine],[Using chemical analysis to determine the orig...
8,[Wine Quality],"[Two datasets are included, related to red and..."
9,[Bank Marketing],[The data is related with direct marketing cam...

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [1]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium .common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get(' https://www.bcci.tv/')

In [4]:

fixtures=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixtures.click()

In [13]:
s1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[1]/div[2]/div[1]/div/div[2]/h5')
for i in name_tags:
    name=i.text
s1_name.append(name)

In [14]:
s1_name

['ICC Mens T20 World Cup 2024']

In [15]:
s2_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[2]/div/div[1]/div/div[2]/h5')
for i in name_tags:
    name=i.text
s2_name.append(name)

In [16]:
s2_name

['South Africa Women Tour Of India Warm Up Match 2024']

In [17]:
s3_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[3]/div/div[1]/div/div[2]/h5')
for i in name_tags:
    name=i.text
s3_name.append(name)

In [18]:
s3_name

['ICC Mens T20 World Cup 2024']

In [19]:
s4_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[4]/div/div[1]/div/div[2]/h5')
for i in name_tags:
    name=i.text
s4_name.append(name)

In [20]:
s4_name

['South Africa Women Tour Of India ODI Series 2024']

In [21]:
s5_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[5]/div/div[1]/div/div[2]/h5')
for i in name_tags:
    name=i.text
s5_name.append(name)

In [22]:
s5_name

['South Africa Women Tour Of India ODI Series 2024']

In [25]:
p1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[1]/div[2]/div[1]/div/div[2]/div[3]/span[2]')
for i in name_tags:
    name=i.text
p1_name.append(name)

In [26]:
p1_name

['New York']

In [27]:
p2_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[2]/div/div[1]/div/div[2]/div[3]/span[2]')
for i in name_tags:
    name=i.text
p2_name.append(name)

In [28]:
p2_name

['Bengaluru']

In [29]:
p3_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[3]/div/div[1]/div/div[2]/div[3]/span[2]')
for i in name_tags:
    name=i.text
p3_name.append(name)

In [30]:
p3_name

['Florida']

In [31]:
p4_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[4]/div/div[1]/div/div[2]/div[3]/span[2]')
for i in name_tags:
    name=i.text
p4_name.append(name)

In [32]:
p4_name

['Bengaluru']

In [33]:
p5_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[5]/div/div[1]/div/div[2]/div[3]/span[2]')
for i in name_tags:
    name=i.text
p5_name.append(name)

In [34]:
p5_name

['Bengaluru']

In [35]:
d1_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[1]/div[2]/div[1]/div/div[2]/div[1]/div[1]')
for i in date_tags:
    date=i.text
d1_date.append(date)

In [36]:
d1_date

['12 Jun']

In [37]:
d2_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[2]/div/div[1]/div/div[2]/div[1]/div[1]')
for i in date_tags:
    date=i.text
d2_date.append(date)

In [38]:
d2_date

['12 Jun']

In [39]:
d3_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[3]/div/div[1]/div/div[2]/div[1]/div[1]')
for i in date_tags:
    date=i.text
d3_date.append(date)

In [40]:
d3_date

['15 Jun']

In [41]:
d4_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[4]/div/div[1]/div/div[2]/div[1]/div[1]')
for i in date_tags:
    date=i.text
d4_date.append(date)

In [42]:
d4_date

['16 Jun']

In [48]:
d5_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[5]/div/div[1]/div/div[2]/div[1]/div[1]')
for i in date_tags:
    date=i.text
d5_date.append(date)

In [44]:
d5_date

['19 Jun']

In [47]:
t1_time=[]
time_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[3]/div/div[1]/div/div[2]/div[1]/div[2]')
for i in time_tags:
    time=i.text
t1_time.append(time)

In [46]:
t1_time

['15:30 BST']

In [49]:
t2_time=[]
time_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[2]/div/div[1]/div/div[2]/div[1]/div[2]')
for i in time_tags:
    time=i.text
t2_time.append(time)

In [50]:
t2_time

['9:00 BST']

In [51]:
t3_time=[]
time_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[3]/div/div[1]/div/div[2]/div[1]/div[2]')
for i in time_tags:
    time=i.text
t3_time.append(time)

In [52]:
t3_time

['15:30 BST']

In [53]:
t4_time=[]
time_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[4]/div/div[1]/div/div[2]/div[1]/div[2]')
for i in time_tags:
    time=i.text
t4_time.append(time)

In [54]:
t4_time

['9:00 BST']

In [55]:
t5_time=[]
time_tags=driver.find_elements(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[1]/div[5]/div/div[1]/div/div[2]/div[1]/div[2]')
for i in time_tags:
    time=i.text
t5_time.append(time)

In [56]:
t5_time

['9:00 BST']

In [58]:
import pandas as pd
df=pd.DataFrame({'Series':[s1_name,s2_name,s3_name,s4_name,s5_name],
                'Place':[p1_name,p2_name,p3_name,p4_name,p5_name],
                'Date':[d1_date,d2_date,d3_date,d4_date,d5_date],
                'Time':[t1_time,t2_time,t3_time,t4_time,t5_time]})

In [59]:
df

,Series,Place,Date,Time
0,[ICC Mens T20 World Cup 2024],[New York],[12 Jun],[15:30 BST]
1,[South Africa Women Tour Of India Warm Up Matc...,[Bengaluru],[12 Jun],[9:00 BST]
2,[ICC Mens T20 World Cup 2024],[Florida],[15 Jun],[15:30 BST]
3,[South Africa Women Tour Of India ODI Series 2...,[Bengaluru],[16 Jun],[9:00 BST]
4,[South Africa Women Tour Of India ODI Series 2...,[Bengaluru],[19 Jun],[9:00 BST]

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [15]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium .common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

In [16]:
driver=webdriver.Chrome()

In [17]:
driver.get('http://statisticstimes.com/')

In [18]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [20]:
India=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
India.click()

In [21]:
India_gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
India_gdp.click()

In [22]:
G1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/thead')
for i in name_tags:
    name=i.text
G1_name.append(name)

In [23]:
G1_name

['Rank State GSDP (Cr INR at Current prices) Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)\n23-24 22-23 21-22 21-22 2021 23-24 22-23 21-22']

In [24]:
G2_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[1]')
for i in name_tags:
    name=i.text
G2_name.append(name)

In [25]:
G2_name

['1 Maharashtra - - 3,108,022 13.17% 414.928 - - 2,027,971']

In [26]:
G3_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[2]')
for i in name_tags:
    name=i.text
G3_name.append(name)

In [27]:
G3_name

['2 Tamil Nadu 2,700,109 2,364,514 2,071,286 8.78% 276.522 1,572,601 1,453,321 1,343,287']

In [28]:
G4_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[3]')
for i in name_tags:
    name=i.text
G4_name.append(name)

In [29]:
G4_name

['3 Karnataka 2,500,733 2,269,995 1,978,094 8.38% 264.080 1,423,229 1,335,052 1,235,377']

In [30]:
G5_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[4]')
for i in name_tags:
    name=i.text
G5_name.append(name)

In [31]:
G5_name

['4 Uttar Pradesh 2,547,861 2,258,040 1,975,595 8.37% 263.747 1,423,358 1,318,027 1,200,093']

In [32]:
G6_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[5]')
for i in name_tags:
    name=i.text
G6_name.append(name)

In [33]:
G6_name

['5 Gujarat - 2,230,609 1,928,683 8.17% 257.484 - 1,475,629 1,365,922']

In [34]:
G7_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[6]')
for i in name_tags:
    name=i.text
G7_name.append(name)

In [35]:
G7_name

['6 West Bengal 1,700,939 1,531,758 1,329,238 5.63% 177.456 904,088 839,805 787,439']

In [36]:
G8_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[7]')
for i in name_tags:
    name=i.text
G8_name.append(name)

In [37]:
G8_name

['7 Rajasthan 1,524,030 1,365,849 1,193,489 5.06% 159.334 842,621 784,655 727,805']

In [39]:
G9_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[8]')
for i in name_tags:
    name=i.text
G9_name.append(name)

In [40]:
G9_name

['8 Andhra Pradesh 1,439,674 1,303,524 1,148,471 4.87% 153.324 820,894 764,685 722,727']

In [41]:
G10_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[9]')
for i in name_tags:
    name=i.text
G10_name.append(name)

In [42]:
G10_name

['9 Telangana 1,463,960 1,308,034 1,124,204 4.76% 150.084 767,936 715,157 669,229']

In [43]:
G11_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[10]')
for i in name_tags:
    name=i.text
G11_name.append(name)

In [44]:
G11_name

['10 Madhya Pradesh 1,363,327 1,246,471 1,092,964 4.63% 145.913 660,363 622,908 584,470']

In [45]:
G12_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[11]')
for i in name_tags:
    name=i.text
G12_name.append(name)

In [46]:
G12_name

['11 Kerala - 1,046,188 934,542 3.96% 124.764 - 616,189 578,057']

In [47]:
G13_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[12]')
for i in name_tags:
    name=i.text
G13_name.append(name)

In [48]:
G13_name

['12 Delhi 1,107,746 1,014,688 881,336 3.73% 117.660 672,247 625,981 580,396']

In [49]:
G14_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[13]')
for i in name_tags:
    name=i.text
G14_name.append(name)

In [50]:
G14_name

['13 Haryana 1,095,535 984,055 868,905 3.68% 116.001 634,027 587,198 544,317']

In [51]:
G15_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[14]')
for i in name_tags:
    name=i.text
G15_name.append(name)

In [52]:
G15_name

['14 Odisha 832,790 753,177 662,886 2.81% 88.497 503,871 464,574 430,541']

In [53]:
G16_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[15]')
for i in name_tags:
    name=i.text
G16_name.append(name)

In [54]:
G16_name

['15 Bihar - 751,396 650,302 2.76% 86.817 - 442,473 399,930']

In [55]:
G17_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[16]')
for i in name_tags:
    name=i.text
G17_name.append(name)

In [56]:
G17_name

['16 Punjab 736,423 676,164 617,192 2.62% 82.397 493,283 462,053 434,261']

In [57]:
G18_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[17]')
for i in name_tags:
    name=i.text
G18_name.append(name)

In [58]:
G18_name

['17 Assam 565,401 493,167 411,454 1.74% 54.930 318,559 300,799 278,835']

In [59]:
G19_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[18]')
for i in name_tags:
    name=i.text
G19_name.append(name)

In [60]:
G19_name

['18 Chhattisgarh 505,887 464,399 410,525 1.74% 54.806 321,945 302,119 280,609']

In [61]:
G20_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[19]')
for i in name_tags:
    name=i.text
G20_name.append(name)

In [62]:
G20_name

['19 Jharkhand - 393,722 358,863 1.52% 47.909 - 259,800 243,348']

In [63]:
G21_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[20]')
for i in name_tags:
    name=i.text
G21_name.append(name)

In [64]:
G21_name

['20 Uttarakhand 346,206 303,781 267,143 1.13% 35.664 213,378 198,341 184,274']

In [65]:
G22_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[21]')
for i in name_tags:
    name=i.text
G22_name.append(name)

In [66]:
G22_name

['21 Jammu & Kashmir 246,465 224,226 193,352 0.82% 25.813 139,171 129,573 119,174']

In [67]:
G23_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[22]')
for i in name_tags:
    name=i.text
G23_name.append(name)

In [68]:
G23_name

['22 Himachal Pradesh 207,430 191,728 172,162 0.73% 22.984 142,800 133,372 124,770']

In [69]:
G24_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[23]')
for i in name_tags:
    name=i.text
G24_name.append(name)

In [70]:
G24_name

['23 Goa - 93,672 84,266 0.36% 11.250 - 59,867 55,342']

In [72]:
G25_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[24]')
for i in name_tags:
    name=i.text
G25_name.append(name)

In [73]:
G25_name

['24 Tripura - 72,636 62,550 0.27% 8.351 - 42,997 39,487']

In [74]:
G26_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[25]')
for i in name_tags:
    name=i.text
G26_name.append(name)

In [75]:
G26_name

['25 Chandigarh - 54,285 46,096 0.20% 6.154 - 33,879 30,587']

In [76]:
G27_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[26]')
for i in name_tags:
    name=i.text
G27_name.append(name)

In [77]:
G27_name

['26 Puducherry - 49,643 43,810 0.19% 5.849 - 28,849 27,131']

In [78]:
G28_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[27]')
for i in name_tags:
    name=i.text
G28_name.append(name)

In [79]:
G28_name

['27 Meghalaya 47,381 42,697 38,785 0.16% 5.178 26,524 25,209 24,267']

In [80]:
G29_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[28]')
for i in name_tags:
    name=i.text
G29_name.append(name)

In [81]:
G29_name

['28 Sikkim - 42,756 37,557 0.16% 5.014 - 22,144 20,728']

In [82]:
G30_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[29]')
for i in name_tags:
    name=i.text
G30_name.append(name)

In [83]:
G31_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[30]')
for i in name_tags:
    name=i.text
G31_name.append(name)

In [84]:
G31_name

['30 Arunachal Pradesh - 39,630 34,775 0.15% 4.643 - 21,085 19,707']

In [85]:
G32_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[31]')
for i in name_tags:
    name=i.text
G32_name.append(name)

In [86]:
G32_name

['31 Nagaland - 35,643 31,038 0.13% 4.144 - 18,993 17,336']

In [87]:
G33_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[32]')
for i in name_tags:
    name=i.text
G33_name.append(name)

In [88]:
G33_name

['32 Mizoram - - 27,824 0.12% 3.715 - - 18,494']

In [89]:
G34_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tbody/tr[33]')
for i in name_tags:
    name=i.text
G34_name.append(name)

In [90]:
G34_name

['33 Andaman & Nicobar Islands - - 10,371 0.04% 1.385 - - 7,172']

In [91]:
G35_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/div[2]/div[5]/div[1]/div[2]/table/tfoot')
for i in name_tags:
    name=i.text
G35_name.append(name)

In [92]:
G35_name

['India 29,389,686 26,949,646 23,597,399 3,150 17,290,281 16,071,429 15,021,846']

In [95]:
import pandas as pd
df=pd.DataFrame({'Rank':[G1_name,G2_name,G3_name,G4_name,G5_name,G6_name,G7_name,G8_name,G9_name,G10_name,G11_name,G12_name,G13_name,G14_name,G15_name,G16_name,G17_name,G18_name,G19_name,G20_name,G21_name,G22_name,G23_name,G24_name,G25_name,G26_name,G28_name,
G29_name,G30_name,G31_name,G32_name,G33_name,G34_name,G35_name]})

In [96]:
df

                                                 Rank
0   [Rank State GSDP (Cr INR at Current prices) Sh...
1   [1 Maharashtra - - 3,108,022 13.17% 414.928 - ...
2   [2 Tamil Nadu 2,700,109 2,364,514 2,071,286 8....
3   [3 Karnataka 2,500,733 2,269,995 1,978,094 8.3...
4   [4 Uttar Pradesh 2,547,861 2,258,040 1,975,595...
5   [5 Gujarat - 2,230,609 1,928,683 8.17% 257.484...
6   [6 West Bengal 1,700,939 1,531,758 1,329,238 5...
7   [7 Rajasthan 1,524,030 1,365,849 1,193,489 5.0...
8   [8 Andhra Pradesh 1,439,674 1,303,524 1,148,47...
9   [9 Telangana 1,463,960 1,308,034 1,124,204 4.7...
10  [10 Madhya Pradesh 1,363,327 1,246,471 1,092,9...
11  [11 Kerala - 1,046,188 934,542 3.96% 124.764 -...
12  [12 Delhi 1,107,746 1,014,688 881,336 3.73% 11...
13  [13 Haryana 1,095,535 984,055 868,905 3.68% 11...
14  [14 Odisha 832,790 753,177 662,886 2.81% 88.49...
15  [15 Bihar - 751,396 650,302 2.76% 86.817 - 442...
16  [16 Punjab 736,423 676,164 617,192 2.62% 82.39...
17  [17 Assam 565,401 493,167 411,454 1.74% 54.930...
18  [18 Chhattisgarh 505,887 464,399 410,525 1.74%...
19  [19 Jharkhand - 393,722 358,863 1.52% 47.909 -...
20  [20 Uttarakhand 346,206 303,781 267,143 1.13% ...
21  [21 Jammu & Kashmir 246,465 224,226 193,352 0....
22  [22 Himachal Pradesh 207,430 191,728 172,162 0...
23  [23 Goa - 93,672 84,266 0.36% 11.250 - 59,867 ...
24  [24 Tripura - 72,636 62,550 0.27% 8.351 - 42,9...
25  [25 Chandigarh - 54,285 46,096 0.20% 6.154 - 3...
26  [27 Meghalaya 47,381 42,697 38,785 0.16% 5.178...
27  [28 Sikkim - 42,756 37,557 0.16% 5.014 - 22,14...
28     [29 Manipur - - 36,594 0.16% 4.885 - - 20,515]
29  [30 Arunachal Pradesh - 39,630 34,775 0.15% 4....
30  [31 Nagaland - 35,643 31,038 0.13% 4.144 - 18,...
31     [32 Mizoram - - 27,824 0.12% 3.715 - - 18,494]
32  [33 Andaman & Nicobar Islands - - 10,371 0.04%...
33  [India 29,389,686 26,949,646 23,597,399 3,150 ...