In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\hanum\anaconda3\lib\site-packages (4.20.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\hanum\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: exceptiongroup in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.1)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: outcome in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: cffi>=1.14 in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\hanum\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\hanum\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hanum\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\hanum\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hanum\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [199]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

Q1)

In [200]:
driver.get('https://www.naukri.com/')

In [201]:
J_title=[]
J_location=[]
C_Name=[]
E_R=[]

In [206]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    J_title.append(title)

In [207]:
J_title

['Data Scientist, Marketing',
 'Data Scientist',
 'NLP Data Scientist - Real World Data (RWD)',
 'Associate Manager / Senior Data Scientist (CPG)',
 'Data Scientist HTHD',
 'Data Science Associate',
 'DS - NLP Expert',
 'Lead Data Scientist',
 'Sr . Data Scientist / Manager',
 'Data Scientist',
 'Generative AI Data Scientist',
 'Data Scientist',
 'Lead / Senior Data Scientist',
 'Sr. Data Scientist',
 'Global GI Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Professional']

In [209]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags:
    location=i.text
    J_location.append(location)

In [210]:
J_location

['Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Mumbai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Hybrid - Pune, Gurugram, Bengaluru',
 'Hyderabad, Telangana, Gurugram, Haryana, Bangalore/ Bengaluru, Karnataka',
 'Greater Noida, Bengaluru',
 'Noida, Gurugram, Bengaluru',
 'Gurugram, Bengaluru',
 'Hyderabad, Gurugram, Bengaluru',
 'Noida, Gurugram, Bengaluru',
 'Noida',
 'Gurugram',
 'Faridabad',
 'Gurugram',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru']

In [211]:
R_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp"]')
for i in R_tags:
    R=i.text
    E_R.append(R)

In [212]:
E_R

['4-6 Yrs',
 '4-9 Yrs',
 '7-8 Yrs',
 '5-11 Yrs',
 '1-4 Yrs',
 '1-3 Yrs',
 '6-11 Yrs',
 '6-9 Yrs',
 '7-10 Yrs',
 '3-7 Yrs',
 '8-13 Yrs',
 '3-7 Yrs',
 '7-12 Yrs',
 '4-8 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '5-10 Yrs',
 '5-9 Yrs']

In [213]:
Name_tags=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in Name_tags:
    Name=i.text
    C_Name.append(Name)

In [214]:
C_Name

['Coursera',
 'Deloitte',
 'Agilite Global Solutions',
 'Ford',
 'ZS Associates',
 'Genpact',
 'Honeywell',
 'Novitas Infotech',
 'Blackbuck',
 'Genpact',
 'Novitas Infotech',
 'Innovaccer',
 'Orange Business Services',
 'Hitachi Ltd.',
 'Indusind Bank',
 'Digital Glyde',
 'Response Informatics']

In [215]:
print(len(J_title),len(J_location),len(E_R),len(C_Name))

20 20 20 17

In [216]:
df=pd.DataFrame({'Titlt':J_title,'Location':J_location,'Experinced':E_R})
df.head(10)

,Titlt,Location,Experinced
0,"Data Scientist, Marketing","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",4-6 Yrs
1,Data Scientist,"Delhi / NCR, Mumbai, Bengaluru",4-9 Yrs
2,NLP Data Scientist - Real World Data (RWD),"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",7-8 Yrs
3,Associate Manager / Senior Data Scientist (CPG),"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",5-11 Yrs
4,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",1-4 Yrs
5,Data Science Associate,"Hybrid - Pune, Gurugram, Bengaluru",1-3 Yrs
6,DS - NLP Expert,"Hyderabad, Telangana, Gurugram, Haryana, Banga...",6-11 Yrs
7,Lead Data Scientist,"Greater Noida, Bengaluru",6-9 Yrs
8,Sr . Data Scientist / Manager,"Noida, Gurugram, Bengaluru",7-10 Yrs
9,Data Scientist,"Gurugram, Bengaluru",3-7 Yrs

In [ ]:
Q)2

In [65]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

In [66]:
driver.get('https://www.shine.com/')

In [67]:
Job_title=[]
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title=i.text
    Job_title.append(title)

In [68]:
Job_title

['Hiring For Data Scientist',
 'Data Scientist',
 'Data Scientist Opening',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Urgent Recruitment',
 'Data Scientist Opening',
 'Data Scientist Vacancy',
 'Hiring For Data Scientist',
 'Data Scientist Recruitment',
 'Urgent | VP DataScientist | Bangalore Location',
 'Data Science Manager',
 'Head Data Science',
 'Data Science Analytics',
 'Data Support Executive',
 'Azure Data engineer',
 'Azure Data Engineer',
 'Data Science- Manager',
 'Immediate Joiner For SENIOR DATA ENGINEER __ PAN INDI ...',
 'Manager Data Science']

In [70]:
Job_location=[]
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    Job_location.append(location)

In [71]:
Job_location

['Bangalore\n+15',
 'Bangalore\n+4',
 'Bangalore\n+12',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+13',
 'Bangalore\n+13',
 'Bangalore\n+13',
 'Bangalore\n+13',
 'Bangalore\n+12',
 'Bangalore',
 'Bangalore\n+3',
 'Bangalore\n+7',
 'Bangalore\n+7',
 'Bangalore\n+7',
 'Bangalore\n+4',
 'Bangalore\n+3',
 'Bangalore\n+7',
 'Bangalore\n+8',
 'Bangalore\n+7']

In [72]:
Company_name=[]
name_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in name_tags:
    name=i.text
    Company_name.append(name)

In [73]:
Company_name

['neelima staffing solution',
 'alike thoughts solutions private li...',
 'radhika enterprises',
 'unified excellence llp',
 'unified excellence llp',
 'divya staffing solution',
 'divya staffing solution',
 'divya staffing solution',
 'divya staffing solution',
 'radhika enterprises',
 'teamfocus human capital private lim...',
 'mackenzie modern it solutions priva...',
 'mackenzie modern it solutions priva...',
 'mackenzie modern it solutions priva...',
 'mackenzie modern it solutions priva...',
 'capgemini technology services india...',
 'live connections placements pvt ltd',
 'mackenzie modern it solutions priva...',
 'sigma allied services private limit...',
 'mackenzie modern it solutions priva...']

In [74]:
E_required=[]
required_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in required_tags:
    required=i.text
    E_required.append(required)

In [75]:
E_required

['0 to 4 Yrs',
 '5 to 10 Yrs',
 '0 to 4 Yrs',
 '4 to 8 Yrs',
 '4 to 8 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '16 to >25 Yrs',
 '4 to 9 Yrs',
 '4 to 9 Yrs',
 '5 to 10 Yrs',
 '5 to 10 Yrs',
 '6 to 10 Yrs',
 '4 to 7 Yrs',
 '5 to 10 Yrs',
 '5 to 10 Yrs',
 '5 to 9 Yrs']

In [76]:
print(len(Job_title))

20

In [77]:
import pandas as pd
df=pd.DataFrame({'Title':Job_title,'Location':Job_location,'Company':Company_name,'Experinced':E_required})
df

,Title,Location,Company,Experinced
0,Hiring For Data Scientist,Bangalore\n+15,neelima staffing solution,0 to 4 Yrs
1,Data Scientist,Bangalore\n+4,alike thoughts solutions private li...,5 to 10 Yrs
2,Data Scientist Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
3,Data Scientist,Bangalore,unified excellence llp,4 to 8 Yrs
4,Data Scientist,Bangalore,unified excellence llp,4 to 8 Yrs
5,Data Scientist Urgent Recruitment,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
6,Data Scientist Opening,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
7,Data Scientist Vacancy,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
8,Hiring For Data Scientist,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
9,Data Scientist Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
10,Urgent | VP DataScientist | Bangalore Location,Bangalore,teamfocus human capital private lim...,16 to >25 Yrs
11,Data Science Manager,Bangalore\n+3,mackenzie modern it solutions priva...,4 to 9 Yrs
12,Head Data Science,Bangalore\n+7,mackenzie modern it solutions priva...,4 to 9 Yrs
13,Data Science Analytics,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 10 Yrs
14,Data Support Executive,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 10 Yrs
15,Azure Data engineer,Bangalore\n+4,capgemini technology services india...,6 to 10 Yrs
16,Azure Data Engineer,Bangalore\n+3,live connections placements pvt ltd,4 to 7 Yrs
17,Data Science- Manager,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 10 Yrs
18,Immediate Joiner For SENIOR DATA ENGINEER __ P...,Bangalore\n+8,sigma allied services private limit...,5 to 10 Yrs
19,Manager Data Science,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 9 Yrs

In [79]:
df.head(10)

,Title,Location,Company,Experinced
0,Hiring For Data Scientist,Bangalore\n+15,neelima staffing solution,0 to 4 Yrs
1,Data Scientist,Bangalore\n+4,alike thoughts solutions private li...,5 to 10 Yrs
2,Data Scientist Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
3,Data Scientist,Bangalore,unified excellence llp,4 to 8 Yrs
4,Data Scientist,Bangalore,unified excellence llp,4 to 8 Yrs
5,Data Scientist Urgent Recruitment,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
6,Data Scientist Opening,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
7,Data Scientist Vacancy,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
8,Hiring For Data Scientist,Bangalore\n+13,divya staffing solution,0 to 4 Yrs
9,Data Scientist Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs

In [ ]:
Q)3

In [80]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

In [81]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [83]:
P_rating=[]

In [84]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH"]')
for i in rating_tags:
    rating=i.text
    P_rating.append(rating)

In [85]:
P_rating

['4.6']

In [86]:
P_review=[]
review_tags=driver.find_elements(By.XPATH,'//div[@class="row j-aW8Z"]')
for i in review_tags:
    review=i.text
    P_review.append(review)

In [87]:
P_review

['2,04,656 Ratings &', '11,463 Reviews']

In [89]:
R_summary=[]
start=0
end=10
for page in range(start,end):
    summary=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in summary:
        R_summary.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span')
    next_button
    time.sleep(3)

In [90]:
R_summary

['Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!',
 'Classy product',
 'Perfect product!',
 'Best in the market!',
 'Terrific',
 'Worth every penny',
 'Wonderful',
 'Terrific purchase',
 'Perfect product!',
 'Excellent',
 'Must buy!']

In [91]:
len(R_summary)

100

In [94]:
F_reviews=[]
reviews_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in reviews_tags:
    reviews=i.text
    F_reviews.append(reviews)

In [95]:
F_reviews

['Camera is awesome\nBest battery backup\nA performer 👌🏻\nIt will be a real value for money if they provide charger and earphone inbox!',
 'Photos super',
 'Good Camera',
 'Very very good',
 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!',
 'This is amazing at all',
 'Value for money 😍',
 'V Good all',
 'NYC',
 'It’s really awesome']

Q)4.Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search 
field. 
You have to scrape 3 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 
As shown in the below image, you have to scrape the above attributes.

In [8]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

In [9]:
driver.get('https://www.flipkart.com/')

In [15]:
S_brand=[]
p_description=[]
S_price=[]

In [16]:
start=0
end=3
for page in range(start,end):
    description=driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
    for i in description:
        p_description.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    next_button
    time.sleep(3)

In [17]:
p_description

['Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Trending Stylish Casual Outdoor Shoes Sneakers For Men',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Modern Trendy Shoes Sneakers For Men',
 'Casual Sneaker Shoes for Men | Classic Rounded Toe, Soo...',
 'Dynamite Lace-Up Sneakers For Men',
 'Combo Pack Of 4 Casual Loafer Shoes Sneakers For Men',
 'Lifestyle Sneaker Shoes for Men | Soft Cushioned Insole...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Men Sneakers For Men',
 'Stylish Shoes for Girls Sneakers For Women',
 'Sneakers For Women',
 'Casual Sneaker Shoes for Men | Classic Rounded Toe, Soo...',
 'Spring Edge Alpha 2 Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Sneakers For Men',
 'Alpha Predator Sneakers For Men',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Casual Sneaker Shoes For Men | Enhanced Comfort with Cu...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'High Tops Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Men',
 '550 Sneakers For Men',
 'Casual Colour Blocked Shoes For Boys Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'JADEN 2.0 Sneakers For Men',
 '( by GO21 ) Soft Insole, Slip-Resistance|Casual Walking...',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Casual Shoes | Upgraded Comfort with Cushioned Insole S...',
 'Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Trending Stylish Casual Outdoor Shoes Sneakers For Men',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Modern Trendy Shoes Sneakers For Men',
 'Casual Sneaker Shoes for Men | Classic Rounded Toe, Soo...',
 'Dynamite Lace-Up Sneakers For Men',
 'Combo Pack Of 4 Casual Loafer Shoes Sneakers For Men',
 'Lifestyle Sneaker Shoes for Men | Soft Cushioned Insole...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Men Sneakers For Men',
 'Stylish Shoes for Girls Sneakers For Women',
 'Sneakers For Women',
 'Casual Sneaker Shoes for Men | Classic Rounded Toe, Soo...',
 'Spring Edge Alpha 2 Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Sneakers For Men',
 'Alpha Predator Sneakers For Men',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Casual Sneaker Shoes For Men | Enhanced Comfort with Cu...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'High Tops Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Men',
 '550 Sneakers For Men',
 'Casual Colour Blocked Shoes For Boys Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'JADEN 2.0 Sneakers For Men',
 '( by GO21 ) Soft Insole, Slip-Resistance|Casual Walking...',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Casual Shoes | Upgraded Comfort with Cushioned Insole S...',
 'Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Trending Stylish Casual Outdoor Shoes Sneakers For Men',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Modern Trendy Shoes Sneakers For Men',
 'Casual Sneaker Shoes for Men | Classic Rounded Toe, Soo...',
 'Dynamite Lace-Up Sneakers For Men',
 'Combo Pack Of 4 Casual Loafer Shoes Sneakers For Men',
 'Lifestyle Sneaker Shoes for Men | Soft Cushioned Insole...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Men Sneakers For Men',
 'Stylish Shoes for Girls Sneakers For Women',
 'Sneakers For Women',
 'Casual Sneaker Shoes for Men | Classic Rounded Toe, Soo...',
 'Spring Edge Alpha 2 Sneakers For Men',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Casual Sneakers Shoes for Men | Soft Cushioned Insole, ...',
 'Sneakers For Men',
 'Alpha Predator Sneakers For Men',
 'Combo Pack Of 2 Casual Shoes Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Casual Sneaker Shoes For Men | Enhanced Comfort with Cu...',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'High Tops Sneakers For Men',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Men',
 '550 Sneakers For Men',
 'Casual Colour Blocked Shoes For Boys Sneakers For Men',
 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...',
 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...',
 'JADEN 2.0 Sneakers For Men',
 '( by GO21 ) Soft Insole, Slip-Resistance|Casual Walking...',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Casual Shoes | Upgraded Comfort with Cushioned Insole S...',
 'Sneakers For Men']

In [18]:
len(p_description)

111

In [55]:
start=0
end=3
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in price:
        S_price.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    next_button
    time.sleep(3)

In [56]:
S_price

['₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449',
 '₹299',
 '₹470',
 '₹299',
 '₹1,179',
 '₹276',
 '₹1,099',
 '₹549',
 '₹470',
 '₹1,099',
 '₹1,139',
 '₹362',
 '₹330',
 '₹399',
 '₹395',
 '₹645',
 '₹1,099',
 '₹1,036',
 '₹299',
 '₹1,179',
 '₹9,149',
 '₹1,302',
 '₹499',
 '₹299',
 '₹1,119',
 '₹1,139',
 '₹1,119',
 '₹549',
 '₹377',
 '₹299',
 '₹5,700',
 '₹9,000',
 '₹1,127',
 '₹449',
 '₹1,379',
 '₹1,949',
 '₹1,789',
 '₹999',
 '₹638',
 '₹1,679',
 '₹449']

In [59]:
df=pd.DataFrame({'Brand':S_brand,'Price':S_price})
df.head(100)

       Brand   Price
0       aadi    ₹299
1     BRUTON    ₹470
2   URBANBOX    ₹299
3   RED TAPE  ₹1,179
4     BRUTON    ₹276
..       ...     ...
95  RED TAPE  ₹1,099
96      ATOM  ₹1,036
97      aadi    ₹299
98  RED TAPE  ₹1,179
99   LACOSTE  ₹9,149

[100 rows x 2 columns]

In [39]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brand:
        S_brand.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    next_button
    time.sleep(3)

In [40]:
S_brand

['aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'BRUTON',
 'RED TAPE',
 'RapidBox',
 'BRUTON',
 "Neeman's",
 'RED TAPE',
 'aadi',
 'Footox',
 'Shozie',
 'Deals4you',
 'Red Eleven',
 'RED TAPE',
 'ATOM',
 'aadi',
 'RED TAPE',
 'LACOSTE',
 'ATOM',
 'BRUTON',
 'URBANBOX',
 'RED TAPE',
 'RED TAPE',
 'RED TAPE',
 'RapidBox',
 'aadi',
 'aadi',
 'TOMMY HILFIGER',
 'New Balance',
 'RUN SEVEN',
 'Robbie jones',
 'RED TAPE',
 'RED TAPE',
 'FLYING MACHINE',
 'RUN SEVEN',
 'aadi',
 'RED TAPE',
 'Robbie jones']

Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU 
Type filter to “Intel Core i7” as shown in the below image:

In [60]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

In [61]:
driver.get(' https://www.amazon.in/')

In [64]:
L_title=[]
L_rating=[]
L_price=[]

In [65]:
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags:
    title=i.text
    L_title.append(title)

In [66]:
L_rating=[]
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rating_tags:
    rating=i.text
    L_rating.append(rating)

In [70]:
L_price=[]
price_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-base a-color-base"]')
for i in price_tags:
    price=i.text
    L_price.append(price)

In [69]:
print(len(L_title),len(L_rating),len(L_price))

24 16 23

In [71]:
df=pd.DataFrame({'title':L_title,'Price':L_price})
df

,title,Price
0,Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...,"₹54,990 M.R.P:\n₹79,690 (31% off)"
1,Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....,
2,"Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16""...","₹86,990 M.R.P:\n₹1,25,890 (31% off)"
3,"Lenovo ThinkPad E14 Intel Core i7 13th Gen 14""...","₹96,990 M.R.P:\n₹1,28,650 (25% off)"
4,Lenovo IdeaPad Pro 5 Intel Core i7 13700H 16 I...,"₹1,08,990 M.R.P:\n₹1,53,890 (29% off)"
5,(Refurbished) Lenovo IdeaPad Slim 3 Intel Core...,"₹50,991 New Price:\n₹59,990 (15% off)"
6,Lenovo ThinkPad P16s Gen 2 21HK003EUS 16 Mobil...,"₹1,59,990 M.R.P:\n₹1,99,990 (20% off)"
7,Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...,"₹89,990 M.R.P:\n₹1,59,490 (44% off)"
8,"Lenovo ThinkPad E14 Intel Core i7 12th Gen 14""...","₹93,000 M.R.P:\n₹1,05,000 (11% off)"
9,Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....,"₹82,990 M.R.P:\n₹1,32,300 (37% off)"
10,(Refurbished) LENOVO THINKPAD T450 (Core i5 5t...,"₹13,597 M.R.P.:\n₹59,999 (77% off)"
11,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,"₹87,990 M.R.P:\n₹1,25,990 (30% off)"
12,"Lenovo Yoga 9 13th Gen Intel Evo i7 1360P 14""(...","₹1,75,190 M.R.P:\n₹2,44,890 (28% off)"
13,"Lenovo Yoga Slim 7Pro Intel Evo i7 1260P 14""(3...","₹87,990 M.R.P:\n₹1,39,890 (37% off)"
14,Lenovo Yoga Slim7 Carbon Intel Evo i7 1260P 13...,"₹1,16,990 M.R.P:\n₹1,81,890 (36% off)"
15,(Renewed) Lenovo T430 14-inch Laptop (Core i7/...,"₹16,595 M.R.P.:\n₹1,00,000 (83% off)"
16,Lenovo Yoga Slim7 ProX Intel Evo i7 12700H 14....,"₹1,14,990 M.R.P:\n₹2,23,890 (49% off)"
17,(Refurbished) Lenovo Thinkpad Laptop T470 Inte...,"₹18,999 M.R.P.:\n₹1,00,000 (81% off)"
18,(Refurbished) Lenovo Thinkpad Laptop T480 Inte...,"₹23,500 M.R.P.:\n₹49,999 (53% off)"
19,"Lenovo ThinkPad T14 Intel 11th Gen Core i7 14""...","₹89,999 M.R.P:\n₹1,05,900 (15% off)"
20,"Lenovo Yoga 9 Intel Evo i7 1280P 14""(35.56cm) ...","₹1,71,664\n80 M.R.P:\n₹2,37,890 (28% off)"
21,(Renewed) Lenovo Intel Core i7-4th Gen 14 Inch...,"₹18,169 M.R.P.:\n₹1,00,000 (82% off)"
22,Lenovo ThinkPad T15g Intel 11th Gen Core i7 15...,"₹1,69,990 M.R.P:\n₹3,00,249 (43% off)"
23,(Renewed) Lenovo Intel 6th Gen Core i7 12.5 In...,"₹19,999 M.R.P.:\n₹59,999 (67% off)"

In [72]:
df.head(10)

,title,Price
0,Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...,"₹54,990 M.R.P:\n₹79,690 (31% off)"
1,Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....,
2,"Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16""...","₹86,990 M.R.P:\n₹1,25,890 (31% off)"
3,"Lenovo ThinkPad E14 Intel Core i7 13th Gen 14""...","₹96,990 M.R.P:\n₹1,28,650 (25% off)"
4,Lenovo IdeaPad Pro 5 Intel Core i7 13700H 16 I...,"₹1,08,990 M.R.P:\n₹1,53,890 (29% off)"
5,(Refurbished) Lenovo IdeaPad Slim 3 Intel Core...,"₹50,991 New Price:\n₹59,990 (15% off)"
6,Lenovo ThinkPad P16s Gen 2 21HK003EUS 16 Mobil...,"₹1,59,990 M.R.P:\n₹1,99,990 (20% off)"
7,Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...,"₹89,990 M.R.P:\n₹1,59,490 (44% off)"
8,"Lenovo ThinkPad E14 Intel Core i7 12th Gen 14""...","₹93,000 M.R.P:\n₹1,05,000 (11% off)"
9,Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....,"₹82,990 M.R.P:\n₹1,32,300 (37% off)"

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time. 
The above task will be done in following steps: 
1. First get the webpagehttps://www.azquotes.com/ 
2. Click on Top Quote 
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [81]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

In [82]:
driver.get('https://www.azquotes.com/')

In [83]:
T_quotes=[]
start=0
end=10
for page in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes:
        T_quotes.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[4]/li[12]/a')
    next_button
    time.sleep(3)

In [84]:
T_author=[]
start=0
end=10
for page in range(start,end):
    author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author:
        T_author.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[4]/li[12]/a')
    next_button
    time.sleep(3)

In [85]:
T_types=[]
start=0
end=10
for page in range(start,end):
    types=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in types:
        T_types.append(i.text)
    next_button=driver.find_elements(By.XPATH,'/html/body/div[1]/div[3]/div/div/div/div[1]/div/div[4]/li[12]/a')
    next_button
    time.sleep(3)

In [86]:
print(len(T_quotes),len(T_author),len(T_types))

1000 1000 1000

In [87]:
df=pd.DataFrame({'Quotes':T_quotes,'Author':T_author,'Types':T_types})
df

,Quotes,Author,Types
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, 
Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of
all-prime-ministers-of-india-1473165149-1  
scrap the mentioned data and make the DataFrame

In [131]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
driver=webdriver.Chrome()

In [132]:
driver.get('https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1 ')

In [102]:
P_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[7]/div/table/tbody/tr[2]/td[2]/div/strong')
for i in name_tags:
    name=i.text
    P_name.append(name)

In [103]:
P_name

['Jawahar Lal Nehru']

In [108]:
P_date=[]
date_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[7]/div/table/tbody/tr[3]/td[3]/div')
for i in date_tags:
    date=i.text
    P_date.append(date)

In [109]:
P_date

['(1898-1998)']

In [110]:
T_office=[]
office_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[7]/div/table/tbody/tr[2]/td[4]/div[1]/span')
for i in office_tags:
    office=i.text
    T_office.append(office)

In [111]:
T_office

['15 August 1947 to 27 May 1964']

In [113]:
P_remarks=[]
remarks_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[7]/div/table/tbody/tr[2]/td[5]/div')
for i in remarks_tags:
    remarks=i.text
    P_remarks.append(remarks)

In [114]:
P_remarks

['The first prime minister of India and the longest-serving PM of India, the first to die in office.']

In [117]:
P1_name=[]
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[7]/div/table/tbody/tr[9]/td[2]/div/strong/a')
for i in name_tags:
    name=i.text
    P1_name.append(name)

In [118]:
P1_name

['Indira Gandhi']

In [119]:
P1_date=[]
date_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[6]/td[3]/div')
for i in date_tags:
    date=i.text
    P1_date.append(date)

In [120]:
P1_date

['(1917–1984)']

In [121]:
T1_office=[]
office_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[7]/td[4]/div[1]/span')
for i in office_tags:
    office=i.text
    T1_office.append(office)

In [122]:
T1_office

['24 March 1977 to  28 July 1979 ']

In [123]:
P1_remarks=[]
remarks_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[6]/td[5]/div')
for i in remarks_tags:
    remarks=i.text
    P1_remarks.append(remarks)

In [124]:
P1_remarks

['First female Prime Minister of India']

In [125]:
P2_name=[]
name_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[9]/td[2]/div/strong/a')
for i in name_tags:
    name=i.text
    P2_name.append(name)

In [126]:
P2_name

['Indira Gandhi']

In [133]:
P2_date=[]
date_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[9]/td[3]/div')
for i in date_tags:
    date=i.text
    P2_date.append(date)

In [134]:
P2_date

['(1917–1984)']

In [135]:
T2_office=[]
office_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[9]/td[4]/div[1]')
for i in office_tags:
    office=i.text
    T2_office.append(office)

In [136]:
T2_office

['14 January 1980 to 31 October 1984']

In [137]:
P2_remarks=[]
remarks_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[9]/td[5]/div')
for i in remarks_tags:
    remarks=i.text
    P2_remarks.append(remarks)

In [138]:
P2_remarks

['The first lady who served as PM for the second term']

In [139]:
P3_name=[]
name_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[10]/td[2]/div/a/strong')
for i in name_tags:
    name=i.text
    P3_name.append(name)

In [140]:
P3_name

['Rajiv Gandhi']

In [141]:
P3_date=[]
date_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[10]/td[3]/div')
for i in date_tags:
    date=i.text
    P3_date.append(date)

In [142]:
P3_date

['(1944–1991)']

In [143]:
T3_office=[]
office_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[10]/td[4]/div[1]/span')
for i in office_tags:
    office=i.text
    T3_office.append(office)

In [144]:
T3_office

['31 October 1984 to 2 December 1989']

In [145]:
P3_remarks=[]
remarks_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[10]/td[5]/div')
for i in remarks_tags:
    remarks=i.text
    P3_remarks.append(remarks)

In [147]:
P3_remarks

['Youngest to become PM (40 years old)']

In [148]:
P4_name=[]
name_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[12]/td[2]/div/strong/a')
for i in name_tags:
    name=i.text
    P4_name.append(name)

In [149]:
P4_name

['Chandra Shekhar']

In [150]:
P4_date=[]
date_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[12]/td[3]/div')
for i in date_tags:
    date=i.text
    P4_date.append(date)

In [151]:
P4_date

['(1927–2007)']

In [152]:
T4_office=[]
office_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[12]/td[4]/div[1]/span')
for i in office_tags:
    office=i.text
    T4_office.append(office)

In [153]:
T4_office

['10 November 1990 to 21 June 1991']

In [154]:
P4_remarks=[]
remarks_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[12]/td[5]/div')
for i in remarks_tags:
    remarks=i.text
    P4_remarks.append(remarks)

In [155]:
P4_remarks

['He belongs to  Samajwadi Janata Party']

In [156]:
P5_name=[]
name_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[14]/td[2]/div')
for i in name_tags:
    name=i.text
    P5_name.append(name)

In [157]:
P5_name

['Atal Bihari Vajpayee']

In [158]:
P5_date=[]
date_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[14]/td[3]/div')
for i in date_tags:
    date=i.text
    P5_date.append(date)

In [159]:
P5_date

['(1924- 2018)']

In [160]:
T5_office=[]
office_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[14]/td[4]/div[1]')
for i in office_tags:
    office=i.text
    T5_office.append(office)

In [161]:
T5_office

['16 May 1996 to 1 June 1996']

In [162]:
P5_remarks=[]
remarks_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[14]/td[5]/div')
for i in remarks_tags:
    remarks=i.text
    P5_remarks.append(remarks)

In [163]:
P5_remarks

['PM for shortest tenure']

In [164]:
P6_name=[]
name_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[17]/td[2]/div')
for i in name_tags:
    name=i.text
    P6_name.append(name)

In [165]:
P6_name

['Atal Bihari Vajpayee']

In [166]:
P6_date=[]
date_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[17]/td[3]/div')
for i in date_tags:
    date=i.text
    P6_date.append(date)

In [167]:
P6_date

['(1924-2018)']

In [168]:
T6_office=[]
office_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[17]/td[4]/div[1]/span')
for i in office_tags:
    office=i.text
    T6_office.append(office)

In [169]:
T6_office

['19 March 1998 to 22 May 2004 ']

In [170]:
P6_remarks=[]
remarks_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[17]/td[5]/div')
for i in remarks_tags:
    remarks=i.text
    P6_remarks.append(remarks)

In [171]:
P6_remarks

[' The first non-congress PM who completed a full term as PM']

In [172]:
P7_name=[]
name_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[18]/td[2]/div')
for i in name_tags:
    name=i.text
    P7_name.append(name)

In [173]:
P7_name

['Manmohan Singh']

In [174]:
P7_date=[]
date_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[18]/td[3]/div')
for i in date_tags:
    date=i.text
    P7_date.append(date)

In [175]:
P7_date

['(born 1932)']

In [176]:
T7_office=[]
office_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[18]/td[4]/div[1]/span')
for i in office_tags:
    office=i.text
    T7_office.append(office)

In [177]:
T7_office

['22 May 2004 to 26 May 2014   ']

In [178]:
P7_remarks=[]
remarks_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[18]/td[5]/div')
for i in remarks_tags:
    remarks=i.text
    P7_remarks.append(remarks)

In [179]:
P7_remarks

[' First Sikh PM']

In [180]:
P8_name=[]
name_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[19]/td[2]/div/a/strong')
for i in name_tags:
    name=i.text
    P8_name.append(name)

In [181]:
P8_name

['Narendra Modi']

In [182]:
P8_date=[]
date_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[19]/td[3]/div')
for i in date_tags:
    date=i.text
    P8_date.append(date)

In [183]:
P8_date

['(born 1950)']

In [184]:
T8_office=[]
office_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[19]/td[4]/div/span')
for i in office_tags:
    office=i.text
    T8_office.append(office)

In [185]:
T8_office

['26 May 2014 - 2019']

In [186]:
P8_remarks=[]
remarks_tags=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[7]/div/table/tbody/tr[19]/td[5]/div')
for i in remarks_tags:
    remarks=i.text
    P8_remarks.append(remarks)

In [187]:
P8_remarks

['4th Prime Minister of India who served two consecutive tenures']

In [196]:
import pandas as pd
data={'Name':[P_name,P1_name,P2_name,P3_name,P4_name,P5_name,P6_name,P7_name,P8_name],'Date':[P_date,P1_date,P2_date,P3_date,P4_date,P5_date,P6_date,P7_date,P8_date],'Term':[T_office,T1_office,T2_office,T3_office,T4_office,T5_office,T6_office,T7_office,T8_office],'Remarks':[P_remarks,P1_remarks,P2_remarks,P3_remarks,P4_remarks,P5_remarks,P6_remarks,P7_remarks,P8_remarks]}
df=pd.DataFrame(data)
df

,Name,Date,Term,Remarks
0,[Jawahar Lal Nehru],[(1898-1998)],[15 August 1947 to 27 May 1964],[The first prime minister of India and the lon...
1,[Indira Gandhi],[(1917–1984)],[24 March 1977 to 28 July 1979 ],[First female Prime Minister of India]
2,[Indira Gandhi],[(1917–1984)],[14 January 1980 to 31 October 1984],[The first lady who served as PM for the secon...
3,[Rajiv Gandhi],[(1944–1991)],[31 October 1984 to 2 December 1989],[Youngest to become PM (40 years old)]
4,[Chandra Shekhar],[(1927–2007)],[10 November 1990 to 21 June 1991],[He belongs to Samajwadi Janata Party]
5,[Atal Bihari Vajpayee],[(1924- 2018)],[16 May 1996 to 1 June 1996],[PM for shortest tenure]
6,[Atal Bihari Vajpayee],[(1924-2018)],[19 March 1998 to 22 May 2004 ],[ The first non-congress PM who completed a fu...
7,[Manmohan Singh],[(born 1932)],[22 May 2004 to 26 May 2014 ],[ First Sikh PM]
8,[Narendra Modi],[(born 1950)],[26 May 2014 - 2019],[4th Prime Minister of India who served two co...